<mjml>
  <mj-head>
    <mj-title>Adoptamos nuevas medidas para garantizar el mejor servicio.</mj-title>
    <mj-style inline="inline">
      .show_on_mobile,
      .show_on_mobile-outlook {
        mso-hide: all !important;
        display: none !important;
      }

      .link-nostyle {
        color: inherit;
        text-decoration: underline;
      }

      .spacer-mobile {
        margin-top: 10px !important;
      }

      .spacer-mobile-box {
        margin-top: 30px !important;
      }

      .spacer-mobile-novedades {
        margin-top: 40px !important;
      }

      .imgBugGmail {
        width: 295px !important;
      }
    </mj-style>
    <mj-style>

      @font-face {
      font-family: 'Raleway-bold', Arial, Helvetica;
      src: url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-Bold_eot.dat');
      src: url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-Bold_ttf.dat') format('truetype'),
      url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-Bold_eot?#iefix.dat') format('embedded-opentype'),
      url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-Bold_woff2.dat') format('woff2'),
      url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-Bold_woff.dat') format('woff');
      font-weight: bold;
      font-style: normal;
      }


      @font-face {
      font-family: 'Raleway-ExtraBold', Arial, Helvetica;
      src: url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-ExtraBold_eot.dat');
      src: url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-ExtraBold_ttf.dat') format('truetype'),
      url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-ExtraBold?#iefix.dat') format('embedded-opentype'),
      url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-ExtraBold_woff2.dat') format('woff2'),
      url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-ExtraBold_woff.dat') format('woff');
      font-weight: 900;
      font-style: normal;
      }


      @font-face {
      font-family: 'Raleway-Regular', Arial, Helvetica;
      src: url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-Regular_eot.dat');
      src: url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-Regular_ttf.dat') format('truetype'),
      url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-Regular?#iefix.dat') format('embedded-opentype'),
      url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-Regular_woff2.dat') format('woff2'),
      url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-Regular_woff.dat') format('woff');
      font-weight: 300;
      font-style: normal;
      }


      @font-face {
      font-family: 'Raleway-Medium', Arial, Helvetica;
      src: url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-Medium_eot.dat');
      src: url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-Medium_ttf.dat') format('truetype'),
      url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-Medium?#iefix.dat') format('embedded-opentype'),
      url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-Medium_woff2.dat') format('woff2'),
      url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-Medium_woff.dat') format('woff');
      font-weight: 500;
      font-style: normal;
      }

      * {
      -ms-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%;
      }

      a[x-apple-data-detectors] {
      color: inherit !important;
      text-decoration: none !important;
      font-size: inherit !important;
      font-family: inherit !important;
      font-weight: inherit !important;
      line-height: inherit !important;
      }

      .yshortcuts a {
      border-bottom: none !important;
      }

      @media screen yahoo {
      * {
      overflow: visible!important
      }
      .y-overflow-hidden {
      overflow: hidden!important
      }
      }

      .imgBugGmail {
      width: 295px !important;
      }

      @media only screen and (max-width: 585px) {

      img.bugLines {
      width:100% !important;
      height:auto !important;
      }

      u ~ div .full-wrap {min-width: 100vw;}
      div > u ~ div .full-wrap {min-width: 100%;}


      .wrapper-mobileset{
      background-color: #ffffff !important;
      outline:20px solid #ffffff;
      box-sizing: border-box;
      border-left: 4px solid #ffffff;
      border-right: 4px solid #ffffff;
      margin: auto 0px !important;
      }

      .header-logo {
      display: block !important;
      margin-left: auto !important;
      margin-right: auto !important;
      width: 35% !important;
      }

      .mobileTxt div {
      font-size: 14px !important;
      line-height: 19px !important;
      }

      .contact-footer a {
      font-size: 10px !important;
      }

      .mobileTxtPadding {
      padding: 0px;
      }

      .padding-mobile-cta {
      font-size:12px !important;
      }

      .spacer-mobile-novedades-title {
      margin-top:40px !important;
      padding: 0 20px;
      font-size:13px !important;
      }

      .spacer-mobile-novedades-title-text div{
      line-height: 22px !important;
      font-size: 20px !important;
      }

      .spacer-mobile-novedades-title-text {
      margin: 0 !important;
      padding: 13px 0 !important;
      }

      .block-break {
      display:block ;
      }

      .section-social-group {
      text-align: center;
      }

      .spacer-mobile-box {
      margin: 0px !important;
      padding: 0px !important;
      }

      .spacer-mobile-box td{
      margin: 0px !important;
      padding: 0px !important;
      }

      .spacer-mobile-box-new {
      margin: 0px 0 40px 0 !important;
      padding: 0px !important;
      }

      .spacer-mobile-box-new td{
      margin: 0px 0 30px 0 !important;
      padding: 0px !important;
      }

      p.mobile-txt {
      font-size: 15px !important;
      line-height: 17px !important;
      }

      .contact-footer a {
      font-size: 10px !important;
      }

      .mobileTxtPadding {
      padding: 0px;
      }
      }
      .bugGmail {
      width: 295px !important;
      }

      .footerBugRight {
      width: 120px !important;
      }

      .footerBugLeft {
      width: 140px !important;
      }

    </mj-style>
    <mj-breakpoint width="30px" />
    <mj-attributes>
      <mj-all font-family="Helvetica, Arial, sans-serif" padding="0px"></mj-all>
      <mj-text font-weight="400" font-size="14px" color="#000000" line-height="21px"></mj-text>
      <mj-class name="btn-base" font-size="12px" line-height="10px" />
    </mj-attributes>

    <mj-preview>Y agradecemos tu colaboración para hacerlo posible.</mj-preview>

  </mj-head>

  <mj-body background-color="#ffffff" css-class="wrapper-mobileset full-wrap">

    <mj-section padding-bottom="10px" padding-top="10px" padding-left="7px" padding-right="7px" text-align="center" padding="10px 7px" background-color="#ffffff">
      <mj-column>
        <mj-text align="center" font-size="9px" letter-spacing="1px" line-height="20px" font-family="Arial, sans-serif" font-weight="normal" color="#808890">Si no ves correctamente este email haz clic, <a href="[linktocontent]" color="#000000" class="link-nostyle" line-height="10px">aquí</a></mj-text>
      </mj-column>
    </mj-section>

    <mj-section background-color="#ffffff">
      <mj-column  width="600px">
        <mj-image padding="25px 0px" width="93px" align="right" src="http://aldi.ddb.es/comunicacion/newsletter/2020/marzo/w12/images/logo.jpg" href="https://www.aldi.es?utm_source=newletter&utm_medium=email&utm_campaign=W12%20-%20Adoptamos%20nuevas%20medidas%20para%20garantizar%20el%20mejor%20servicio." css-class="header-logo"></mj-image>
      </mj-column>
    </mj-section>

    

    <!--  HEADER 1  -->

    <mj-section background-color="#ececec">
      <mj-column width="600px">
        <mj-image src="http://aldi.ddb.es/comunicacion/newsletter/2020/marzo/w12/images/cabecera.jpg"  padding="0px"></mj-image>
      </mj-column>
    </mj-section>



    <mj-section padding="22px 0px 17px" background-color="#ffffff" css-class="mobileTxtPadding">
      <mj-column width="550px">

               <!--  TXT COPY 1   -->
        <mj-raw>
        <tr>
            <td align="center" vertical-align="middle" style="font-size:0px;padding:0px;word-break:break-word;">
                <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:separate;line-height:100%;">
                    <tr>
                        <td align="left" >
                            
                            <p style="margin: 10px 0; color:#000000; font-size:24px; line-height:29px; font-family:'Raleway-Regular', Arial, Helvetica; font-weight: 300;" >Por ese motivo hemos tomado una serie de medidas necesarias para <strong>garantizar tu seguridad y la de nuestros equipos</strong> de tienda, logística y compras, que como sabrás están afrontando volúmenes de trabajo muy elevados.</p>

                            <p style="margin: 25px 0; color:#000000; font-size:24px; line-height:29px;font-family:'Raleway-Regular', Arial, Helvetica; font-weight: 300;" class="mobile-txt-headerSub" >Como <strong>medida de conciliación,</strong> para poder <strong>asegurar su descanso y la actividad</strong> durante los próximos días, hemos ajustado los <strong>horarios de tienda</strong>.</p>

                    </td>
                    </tr>
                </table>
                
            </td>
        </tr>
        
        </mj-raw>


      </mj-column>
    </mj-section>

    <!--  HEADER 2  -->
    <mj-section background-color="#ffffff" padding="0px 0px 30px 0px">
      <mj-column width="550px">
         <mj-image src="http://aldi.ddb.es/comunicacion/newsletter/2020/marzo/w12/images/img1.jpg"  padding="0px"></mj-image>
      </mj-column>
    </mj-section>

    <mj-section background-color="#ffffff">
      <mj-column width="550px">
         <mj-image src="http://aldi.ddb.es/comunicacion/newsletter/2020/marzo/w12/images/img2.jpg"  padding="0px"></mj-image>
      </mj-column>
    </mj-section>


    <mj-section background-color="#ffffff">
      <mj-column width="550px">
         <mj-image src="http://aldi.ddb.es/comunicacion/newsletter/2020/marzo/w12/images/img3.jpg"  padding="0px"></mj-image>
      </mj-column>
    </mj-section>
        <mj-section padding="22px 0px 17px" background-color="#ffffff" css-class="mobileTxtPadding">
      <mj-column width="550px">

               <!--  TXT COPY 1   -->
        <mj-raw>
        <tr>
            <td align="center" vertical-align="middle" style="font-size:0px;padding:0px;word-break:break-word;">
                <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:separate;line-height:100%;">
                    <tr>
                        <td align="left" >
                            
                            <p style="margin: 10px 0; color:#000000; font-size:24px; line-height:29px;font-family:'Raleway-Regular', Arial, Helvetica; font-weight: 300;" >También queremos <strong>dar las gracias a todos los equipos de ALDI</strong> que se esfuerzan cada día para que poder hacer la compra siga siendo una realidad. Sin su esfuerzo y su sacrificio nada de esto sería posible.</p>

                            <p style="margin: 25px 0; color:#000000; font-size:24px; line-height:29px;font-family:'Raleway-Regular', Arial, Helvetica; font-weight: 300;" class="mobile-txt-headerSub" >Esta es una situación desconocida e incierta, pero seguro que con el apoyo y colaboración de todos y todas podremos hacerle frente.</p>

                            <p style="margin: 25px 0; color:#000000; font-size:24px; line-height:29px;font-family:'Raleway-Regular', Arial, Helvetica; font-weight: 300;" class="mobile-txt-headerSub" ><strong>Muchas gracias por tu colaboración,</strong></p>

                             <p style="margin: 25px 0; color:#000000; font-size:24px; line-height:29px;font-family:'Raleway-Regular', Arial, Helvetica; font-weight: 300;" class="mobile-txt-headerSub" ><strong>ALDI</strong></p>

                    </td>
                    </tr>
                </table>
                
            </td>
        </tr>
        
        </mj-raw>


      </mj-column>
    </mj-section>



    <mj-section background-color="#ececec" padding="20px 0px 10px 0px"> 
        <mj-column  width="600px" >
            <mj-text align="center" font-size="15px"  line-height="22px" font-family="'Raleway-Regular', Arial, Helvetica,sans-serif;" font-weight="300" color="#000000">Lo que vale mucho cuesta muy poco</mj-text>
        </mj-column  >
    </mj-section>


    
    
    <mj-section background-color="#ececec">
      <mj-column width="600px">
        <mj-social font-size="18px" icon-size="35px" mode="horizontal" padding="10px 0px 35px 0px">
        
          <mj-social-element name="facebookAldi" padding="0px 7px 0px 0px" href="https://www.facebook.com/AldiSupermercados.es?utm_source=newletter&utm_medium=email&utm_campaign=W12%20-%20Adoptamos%20nuevas%20medidas%20para%20garantizar%20el%20mejor%20servicio." src="http://aldi.ddb.es/comunicacion/newsletter/2020/marzo/w12/images/fb.png" alt="fb">
          </mj-social-element>
          <mj-social-element name="googleAldi" padding="0px 7px 0px 0px" href="https://twitter.com/aldi_es?utm_source=newletter&utm_medium=email&utm_campaign=W12%20-%20Adoptamos%20nuevas%20medidas%20para%20garantizar%20el%20mejor%20servicio." src="http://aldi.ddb.es/comunicacion/newsletter/2020/marzo/w12/images/tw.png" alt="tw">
          </mj-social-element>
          <mj-social-element name="instagramAldi" padding="0px 7px 0px 0px" href="https://www.instagram.com/aldi.es?utm_source=newletter&utm_medium=email&utm_campaign=W12%20-%20Adoptamos%20nuevas%20medidas%20para%20garantizar%20el%20mejor%20servicio." target="_blank" src="http://aldi.ddb.es/comunicacion/newsletter/2020/marzo/w12/images/inst.png">
          </mj-social-element>
          <mj-social-element name="youtubeAldi" padding="0px 7px 0px 0px" href="https://www.youtube.com/channel/UCqJCzG9bO3EFFkXiC3WusZw?utm_source=newletter&utm_medium=email&utm_campaign=W12%20-%20Adoptamos%20nuevas%20medidas%20para%20garantizar%20el%20mejor%20servicio." target="_blank" src="http://aldi.ddb.es/comunicacion/newsletter/2020/marzo/w12/images/yt.png" alt="yt">
          </mj-social-element>
          <mj-social-element name="pinteresaldi" padding="0px 7px 0px 0px" href="https://www.pinterest.es/Aldi_Es?utm_source=newletter&utm_medium=email&utm_campaign=W12%20-%20Adoptamos%20nuevas%20medidas%20para%20garantizar%20el%20mejor%20servicio." target="_blank" src="http://aldi.ddb.es/comunicacion/newsletter/2020/marzo/w12/images/pi.png" alt="pi">
          </mj-social-element>
        </mj-social>
      </mj-column>
    </mj-section>

    <mj-section padding="30px 0px 40px" css-class="section-social" background-color="#ffffff">
      <mj-group css-class="section-social-group" width="600px">
        <mj-column width="250px" vertical-align="middle">
          <mj-image src="http://aldi.ddb.es/comunicacion/newsletter/2020/marzo/w12/images/encuentratienda.png" alt="encuentra tu tienda" align="left" border="none" href="https://www.aldi.es/supermercados/encuentra-tu-supermercado.html?utm_source=newletter&utm_medium=email&utm_campaign=W12%20-%20Adoptamos%20nuevas%20medidas%20para%20garantizar%20el%20mejor%20servicio." width="140px" alt="Encuentra tienda"></mj-image>
        </mj-column>
        <mj-column width="80px" vertical-align="middle"></mj-column>
        <mj-column width="250px" vertical-align="middle">
          <mj-image src="http://aldi.ddb.es/comunicacion/newsletter/2020/marzo/w12/images/contigo.png" alt="contigo Aldi" align="right" border="none" href="https://www.aldi.es/contigo-aldi?utm_source=newletter&utm_medium=email&utm_campaign=W12%20-%20Adoptamos%20nuevas%20medidas%20para%20garantizar%20el%20mejor%20servicio." width="120px" css-class="imgFooter" alt="contigo"></mj-image>
          <mj-image src="http://aldi.ddb.es/comunicacion/newsletter/2020/marzo/w12/images/servei.png" alt="contigo Aldi" align="right" border="none" href="tel:900902466?utm_source=newletter&utm_medium=email&utm_campaign=W12%20-%20Adoptamos%20nuevas%20medidas%20para%20garantizar%20el%20mejor%20servicio." width="120px" css-class="imgFooter" alt="contigo tel"></mj-image>
          <mj-image src="http://aldi.ddb.es/comunicacion/newsletter/2020/marzo/w12/images/contigoemail.png" alt="contigo Aldi" align="right" border="none" href="mailto:contigo@aldi.es?utm_source=newletter&utm_medium=email&utm_campaign=W12%20-%20Adoptamos%20nuevas%20medidas%20para%20garantizar%20el%20mejor%20servicio." width="120px" css-class="imgFooter" alt="contigo email"></mj-image>

        </mj-column>
      </mj-group>
    </mj-section>

    <mj-section background-color="#ffffff">
      <mj-column width="600px">
        <mj-text align="center" padding="0 10px">
          <p style="margin:0; padding-bottom:7px; font-size:10px; line-height:12px; margin-bottom:10px; color:#111111; font-family: Arial, Helvetica, sans-serif;"></p>
          <p style="margin:0; padding-bottom:7px; font-size:10px; line-height:12px; margin-bottom:10px; color:#111111; font-family: Arial, Helvetica, sans-serif;">¡Añádenos a tu lista de contactos! Así te asegurarás de recibir nuestra newsletter en tu bandeja de entrada principal. </p>
          <p style="margin:0; padding-bottom:10px; font-size:10px; line-height:14px; margin-bottom:10px; color:#111111; font-family: Arial, Helvetica, sans-serif;">En cumplimiento de lo establecido por los nuevos requisitos del Reglamento General de la Protección de Datos de la UE (GDPR) de Protección de Datos de Carácter Personal, le informamos que los datos personales contenidos en esta comunicación forman parte del fichero de contactos propiedad de ALDI Supermercados S.L. cuya finalidad es la de mantener con usted relaciones comerciales y/o profesionales, lo que usted consintió y aceptó. En todo caso podrá ejercer los derechos de acceso, rectificación, oposición, limitación del tratamiento, portabilidad y cancelación dirigiéndose a ALDI por correo electrónico a través de <a href="mailto:protecciondatos@aldi.es?utm_source=newletter&utm_medium=email&utm_campaign=W12%20-%20Adoptamos%20nuevas%20medidas%20para%20garantizar%20el%20mejor%20servicio." style="color:#111111; text-decoration:none;">protecciondatos@aldi.es</a> indicando el asunto GDPR.</p>
        </mj-text>
        <mj-text align="center" padding="0 10px" css-class="contact-footer">
          <p style="margin:0; padding-bottom:10px; font-size:11px; line-height:15px; margin-bottom:10px; color:#111111; font-family: Arial, Helvetica, sans-serif;">
            <a href="https://www.aldi.es/servicios/apuntate-nuestra-newsletter/baja-de-la-newsletter.html?utm_source=newletter&utm_medium=email&utm_campaign=W12%20-%20Adoptamos%20nuevas%20medidas%20para%20garantizar%20el%20mejor%20servicio." style="color:#008bcf; text-decoration:none;">Baja de la newsletter</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="https://www.aldi.es/supermercados/encuentra-tu-supermercado.html?utm_source=newletter&utm_medium=email&utm_campaign=W12%20-%20Adoptamos%20nuevas%20medidas%20para%20garantizar%20el%20mejor%20servicio." style="color:#008bcf; text-decoration:none;">Tiendas ALDI</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="[linktocontent]" style="color:#008bcf; text-decoration:none;">Ver en navegador</a>
          </p>
        </mj-text>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>