<mjml>
  <mj-head>
    <mj-title>Indispensables para tu hogar.</mj-title>
    <mj-style inline="inline">
      .show_on_mobile,
      .show_on_mobile-outlook {
        mso-hide: all !important;
        display: none !important;
      }

      .link-nostyle {
        color: inherit;
        text-decoration: underline;
      }

      .spacer-mobile {
        margin-top: 10px !important;
      }

      .spacer-mobile-box {
        margin-top: 30px !important;
      }

      .spacer-mobile-novedades {
        margin-top: 40px !important;
      }

      .imgBugGmail {
        width: 295px !important;
      }
    </mj-style>
    <mj-style>

      @font-face {
      font-family: 'Raleway-bold', Arial, Helvetica;
      src: url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-Bold_eot.dat');
      src: url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-Bold_ttf.dat') format('truetype'),
      url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-Bold_eot?#iefix.dat') format('embedded-opentype'),
      url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-Bold_woff2.dat') format('woff2'),
      url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-Bold_woff.dat') format('woff');
      font-weight: bold;
      font-style: normal;
      }


      @font-face {
      font-family: 'Raleway-ExtraBold', Arial, Helvetica;
      src: url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-ExtraBold_eot.dat');
      src: url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-ExtraBold_ttf.dat') format('truetype'),
      url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-ExtraBold?#iefix.dat') format('embedded-opentype'),
      url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-ExtraBold_woff2.dat') format('woff2'),
      url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-ExtraBold_woff.dat') format('woff');
      font-weight: 900;
      font-style: normal;
      }


      @font-face {
      font-family: 'Raleway-Regular', Arial, Helvetica;
      src: url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-Regular_eot.dat');
      src: url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-Regular_ttf.dat') format('truetype'),
      url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-Regular?#iefix.dat') format('embedded-opentype'),
      url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-Regular_woff2.dat') format('woff2'),
      url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-Regular_woff.dat') format('woff');
      font-weight: 300;
      font-style: normal;
      }


      @font-face {
      font-family: 'Raleway-Medium', Arial, Helvetica;
      src: url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-Medium_eot.dat');
      src: url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-Medium_ttf.dat') format('truetype'),
      url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-Medium?#iefix.dat') format('embedded-opentype'),
      url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-Medium_woff2.dat') format('woff2'),
      url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-Medium_woff.dat') format('woff');
      font-weight: 500;
      font-style: normal;
      }

      * {
      -ms-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%;
      }

      a[x-apple-data-detectors] {
      color: inherit !important;
      text-decoration: none !important;
      font-size: inherit !important;
      font-family: inherit !important;
      font-weight: inherit !important;
      line-height: inherit !important;
      }

      .yshortcuts a {
      border-bottom: none !important;
      }

      @media screen yahoo {
          * {
          overflow: visible!important
          }
          .y-overflow-hidden {
          overflow: hidden!important
          }
      }

      .imgBugGmail {
      width: 295px !important;
      }

      @media only screen and (max-width: 585px) {

      img.bugLines {
      width:100% !important;
      height:auto !important;
      }

      u ~ div .full-wrap {min-width: 100vw;}
      div > u ~ div .full-wrap {min-width: 100%;}


      .wrapper-mobileset{
      background-color: #ffffff !important;
      outline:20px solid #ffffff;
      box-sizing: border-box;
      border-left: 4px solid #ffffff;
      border-right: 4px solid #ffffff;
      margin: auto 0px !important;
      }

      .header-logo {
      display: block !important;
      margin-left: auto !important;
      margin-right: auto !important;
      width: 35% !important;
      }

      .mobileTxt div {
      font-size: 14px !important;
      line-height: 19px !important;
      }

      .contact-footer a {
      font-size: 10px !important;
      }

      .mobileTxtPadding {
      padding: 0px;
      }

      .padding-mobile-cta {
      font-size:12px !important;
      }

      .spacer-mobile-novedades-title {
      margin-top:40px !important;
      padding: 0 20px;
      font-size:13px !important;
      }

      .spacer-mobile-novedades-title-text div{
      line-height: 22px !important;
      font-size: 20px !important;
      }

      .spacer-mobile-novedades-title-text {
      margin: 0 !important;
      padding: 13px 0 !important;
      }

      .block-break {
      display:block ;
      }

      .section-social-group {
      text-align: center;
      }

      .spacer-mobile-box {
      margin: 0px !important;
      padding: 0px !important;
      }

      .spacer-mobile-box td{
      margin: 0px !important;
      padding: 0px !important;
      }

      .spacer-mobile-box-new {
      margin: 0px 0 40px 0 !important;
      padding: 0px !important;
      }

      .spacer-mobile-box-new td{
      margin: 0px 0 30px 0 !important;
      padding: 0px !important;
      }

      p.mobile-txt {
      font-size: 15px !important;
      line-height: 17px !important;
      }

      .contact-footer a {
      font-size: 10px !important;
      }

      .mobileTxtPadding {
      padding: 0px;
      }
      }
      .bugGmail {
      width: 295px !important;
      }

      .footerBugRight {
      width: 120px !important;
      }

      .footerBugLeft {
      width: 140px !important;
      }

    </mj-style>
    <mj-breakpoint width="30px" />
    <mj-attributes>
      <mj-all font-family="Helvetica, Arial, sans-serif" padding="0px"></mj-all>
      <mj-text font-weight="400" font-size="14px" color="#000000" line-height="21px"></mj-text>
      <mj-class name="btn-base" font-size="12px" line-height="10px" />
    </mj-attributes>

    <mj-preview>Y oportunidades para San Valentín.</mj-preview>

  </mj-head>

  <mj-body background-color="#ffffff" css-class="wrapper-mobileset full-wrap">

    <mj-section padding-bottom="10px" padding-top="10px" padding-left="7px" padding-right="7px" text-align="center" padding="10px 7px" background-color="#ffffff">
      <mj-column>
        <mj-text align="center" font-size="9px" letter-spacing="1px" line-height="20px" font-family="Arial, sans-serif" font-weight="normal" color="#808890">Si no ves correctamente este email haz clic, <a href="[linktocontent]" color="#000000" class="link-nostyle" line-height="10px">aquí</a></mj-text>
      </mj-column>
    </mj-section>

    <mj-section background-color="#ffffff">
      <mj-column>
        <mj-image padding="25px 0px" width="93px" align="center" src="http://aldi.ddb.es/comunicacion/newsletter/2020/enero/w06/images/logo.jpg" href="https://www.aldi.es?utm_source=newletter&utm_medium=email&utm_campaign=W06%20-%20Indispensables%20para%20tu%20hogar." css-class="header-logo"></mj-image>
      </mj-column>
    </mj-section>

    <!--  HEADER 1  -->

    <mj-section background-color="#ececec">
      <mj-column width="600px">
        <mj-image src="http://aldi.ddb.es/comunicacion/newsletter/2020/enero/w06/images/cabecera1.png" href="https://www.aldi.es/ofertas/ofertas-semana-frescos.html?utm_source=newletter&utm_medium=email&utm_campaign=W06%20-%20Indispensables%20para%20tu%20hogar." padding="0px"></mj-image>
      </mj-column>
    </mj-section> 

    <mj-section background-color="#ececec">
      <mj-column padding="10px 0px 0px 20px">
        <mj-text align="left" font-size="14px" line-height="20px" font-family="Arial, Helvetica;" font-weight="bold" color="#293276" css-class="mobileTxtHeader">Precios válidos del 3/02 al 9/02</mj-text>
      </mj-column>
    </mj-section>


    <mj-section padding="22px 0px 17px" background-color="#ececec" css-class="mobileTxtPadding">
      <mj-column width="600px">

        <mj-text align="center" font-size="20px" line-height="25px" font-family="Raleway-Medium, Arial, sans-serif;" font-weight="700" color="#000000">Naranjas y muchas más ofertas que no te<br>puedes perder esta semana. </mj-text>

        <!-- CTA MJ-RAW HACK -->
        <mj-raw>
          <tr>
            <td align="center" vertical-align="middle" style="font-size:0px;padding:15px 0 10px;word-break:break-word;">
              <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:separate;line-height:100%;"> 
                <tr>
                  <td align="center" bgcolor="#242e7c" width="250" height="35"><a href="https://www.aldi.es/ofertas/ofertas-semana-frescos.html?utm_source=newletter&utm_medium=email&utm_campaign=W06%20-%20Indispensables%20para%20tu%20hogar." conversion="true" target="_blank" style="font-size: 15px;font-family: Raleway-bold, Arial, sans-serif;font-weight: BOLD; color: #ffffff; text-decoration: none; display: inline-block; min-width: 250px; width: 250px; line-height: 35px;letter-spacing:0.01px;" alias="boton" title="DESCUBRE MÁS"><strong style="font-weight: BOLD; color: #ffffff;" title="DESCUBRE MÁS"> DESCUBRE MÁS </strong></a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </mj-raw>
        <!-- CTA MJ-RAW HACK -->

      </mj-column>
    </mj-section>

    <!--  HEADER 2  -->
    <mj-section background-color="#ececec">
      <mj-column width="600px">
        <mj-image align="center" padding-bottom="0px" padding-left="0px" padding-right="0px" padding-top="0px" src="http://aldi.ddb.es/comunicacion/newsletter/2020/enero/w06/images/header0.png" width="600px"></mj-image>
      </mj-column>
    </mj-section>

    <mj-section padding="0px 0px 0px 0px" background-color="#dfdaee">
      <mj-group width="600px">
        <mj-column vertical-align="top">
          <mj-image align="left" padding="0px 0px 0px 0px" alt="Novedades" href="https://www.aldi.es/ofertas/ofertas-semana-frescos.html?utm_source=newletter&utm_medium=email&utm_campaign=W06%20-%20Indispensables%20para%20tu%20hogar." target="_blank" src="http://aldi.ddb.es/comunicacion/newsletter/2020/enero/w06/images/featured1.png" padding="0px" width="295px"></mj-image>
        </mj-column>

        <mj-column vertical-align="top" padding="0px 0px 0px 0px" width="295px" css-class="padding-mobile-cta">
          <mj-text align="center" font-size="18px" font-family="Raleway-Medium, Arial, sans-serif;" font-weight="700" color="#242e7c">
            <p style="margin: 2px 0px 0px 0px;">Hamburguesas de pollo<br>y chuleta de cerdo</p>
          </mj-text>

          <mj-image align="center" padding-bottom="10px" padding-left="0px" padding-right="0px" padding-top="10px" src="http://aldi.ddb.es/comunicacion/newsletter/2020/enero/w06/images/pegatina1.png" width="295px"></mj-image>

          <!--CTA MJ-RAW HACK -->
          <mj-raw>
            <tr>
              <td align="center" vertical-align="middle" style="font-size:0px;padding:0 0 0px;word-break:break-word;">
                <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:separate;line-height:100%;">
                  <tr>
                    <td align="center" bgcolor="#242e7c" width="160" height="35"><a href="https://www.aldi.es/ofertas/ofertas-semana-frescos.html?utm_source=newletter&utm_medium=email&utm_campaign=W06%20-%20Indispensables%20para%20tu%20hogar." target="_blank" style="font-size: 12px;font-family: Raleway-bold, Arial, sans-serif;font-weight: BOLD; color: #FFFFFF; text-decoration: none; display: inline-block; min-width: 160px; width: 160px; line-height: 15px;" title="VER MÁS"><strong style="font-weight: BOLD; color: #ffffff;" title="VER MÁS"> VER MÁS </strong></a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </mj-raw>
          <!--CTA MJ-RAW HACK -->

        </mj-column>
      </mj-group>
    </mj-section>

    <mj-section background-color="#ececec">
      <mj-column padding="5px 0px 10px 20px">
        <mj-text align="left" font-size="14px" line-height="20px" font-family="Arial, Helvetica;" font-weight="bold" color="#293276" css-class="mobileTxtHeader">Precios válidos del 7/02 al 9/02</mj-text>
      </mj-column>
    </mj-section>


    <mj-section background-color="#ececec">
      <mj-column width="600px">
        <mj-image align="center" padding-bottom="0px" padding-left="0px" padding-right="0px" padding-top="20px" src="http://aldi.ddb.es/comunicacion/newsletter/2020/enero/w06/images/header1.png" width="600px"></mj-image>
      </mj-column>
    </mj-section>

    <!--  HEADE 3  -->
    <!--  PRODS -->

    <mj-section padding="0px 0px 0px 0px" background-color="#fbdad4">
      <mj-group width="600px">
        <mj-column vertical-align="top">
          <mj-image align="left" padding="0px 0px 0px 0px" alt="Novedades" href="https://www.aldi.es/ofertas/promo-especiales-semana.html?utm_source=newletter&utm_medium=email&utm_campaign=W06%20-%20Indispensables%20para%20tu%20hogar." target="_blank" src="http://aldi.ddb.es/comunicacion/newsletter/2020/enero/w06/images/featured2.png" padding="0px" width="295px"></mj-image>
        </mj-column>

        <mj-column vertical-align="top" padding="0px 0px 0px 0px" width="295px" css-class="padding-mobile-cta">
          <mj-text align="center" font-size="18px" font-family="Raleway-Medium, Arial, sans-serif;" font-weight="700" color="#e4003a">
            <p style="margin: 10px 0px 10px 0px;line-height:16px" >Yogures de soja<br>Alpro<sup>®</sup></p>
          </mj-text>

          <mj-image align="center" padding-bottom="10px" padding-left="0px" padding-right="0px" padding-top="0px" src="http://aldi.ddb.es/comunicacion/newsletter/2020/enero/w06/images/pegatina2.png" width="295px"></mj-image>

          <!--CTA MJ-RAW HACK -->
          <mj-raw>
            <tr>
              <td align="center" vertical-align="middle" style="font-size:0px;padding:0 0 0px;word-break:break-word;">
                <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:separate;line-height:100%;">
                  <tr>
                    <td align="center" bgcolor="#e4003a" width="160" height="35"><a href="https://www.aldi.es/ofertas/promo-especiales-semana.html?utm_source=newletter&utm_medium=email&utm_campaign=W06%20-%20Indispensables%20para%20tu%20hogar." target="_blank" style="font-size: 12px;font-family: Raleway-bold, Arial, sans-serif;font-weight: BOLD; color: #FFFFFF; text-decoration: none; display: inline-block; min-width: 160px; width: 160px; line-height: 15px;" title="VER MÁS OFERTAS"><strong style="font-weight: BOLD; color: #ffffff;" title="VER MÁS OFERTAS"> VER MÁS OFERTAS </strong></a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </mj-raw>
          <!--CTA MJ-RAW HACK -->

        </mj-column>
      </mj-group>
    </mj-section>

    <mj-section background-color="#ececec">
      <mj-column padding="5px 0px 10px 20px">
        <mj-text align="left" font-size="14px" line-height="20px" font-family="Arial, Helvetica;" font-weight="bold" color="#e4003a" css-class="mobileTxtHeader">Precio válido del 3/02 al 9/02</mj-text>
      </mj-column>
    </mj-section>


    <mj-section background-color="#ececec">
      <mj-column width="600px">
        <mj-image align="center" padding-bottom="0px" padding-left="0px" padding-right="0px" padding-top="20px" src="http://aldi.ddb.es/comunicacion/newsletter/2020/enero/w06/images/header2.png" width="600px"></mj-image>
      </mj-column>
    </mj-section>


    <mj-section padding="0px 0px 0px 0px" background-color="#d6e7f4">
      <mj-group width="600px">
        <mj-column vertical-align="top">
          <mj-image align="left" padding="0px 0px 0px 0px" alt="Novedades" href="https://www.aldi.es/ofertas/especial-grecia.html?utm_source=newletter&utm_medium=email&utm_campaign=W06%20-%20Indispensables%20para%20tu%20hogar." target="_blank" src="http://aldi.ddb.es/comunicacion/newsletter/2020/enero/w06/images/featured3.png" padding="0px" width="295px"></mj-image>
        </mj-column>

        <mj-column vertical-align="top" padding="0px 0px 0px 0px" width="295px" css-class="padding-mobile-cta">
          <mj-text align="center" font-size="18px" font-family="Raleway-Medium, Arial, sans-serif;" font-weight="700" color="#3089ca">
            <p style="margin: 30px 0px 10px 0px;">Salsa Tzatziki</p>
          </mj-text>

          <mj-image align="center" padding-bottom="15px" padding-left="0px" padding-right="0px" padding-top="10px" src="http://aldi.ddb.es/comunicacion/newsletter/2020/enero/w06/images/pegatina3.png" width="295px"></mj-image>

          <!--CTA MJ-RAW HACK -->
          <mj-raw>
            <tr>
              <td align="center" vertical-align="middle" style="font-size:0px;padding:0 0 0px;word-break:break-word;">
                <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:separate;line-height:100%;">
                  <tr>
                    <td align="center" bgcolor="#3089ca" width="160" height="35"><a href="https://www.aldi.es/ofertas/especial-grecia.html?utm_source=newletter&utm_medium=email&utm_campaign=W06%20-%20Indispensables%20para%20tu%20hogar." target="_blank" style="font-size: 12px;font-family: Raleway-bold, Arial, sans-serif;font-weight: BOLD; color: #FFFFFF; text-decoration: none; display: inline-block; min-width: 160px; width: 160px; line-height: 15px;" title="DESCÚBRELO TODO"><strong style="font-weight: BOLD; color: #ffffff;" title="DESCÚBRELO TOD"> DESCÚBRELO TODO</strong></a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </mj-raw>
          <!--CTA MJ-RAW HACK -->

        </mj-column>
      </mj-group>
    </mj-section>
    <mj-section background-color="#ececec">
      <mj-column padding="5px 0px 25px 20px">
        <mj-text align="left" font-size="14px" line-height="20px" font-family="Arial, Helvetica;" font-weight="bold" color="#3089ca" css-class="mobileTxtHeader">Desde el lunes 3/02</mj-text>
      </mj-column>
    </mj-section>

    <mj-section background-color="#ececec">
      <mj-column width="600px">
        <mj-image align="center" padding-bottom="0px" padding-left="0px" padding-right="0px" padding-top="0px" src="http://aldi.ddb.es/comunicacion/newsletter/2020/enero/w06/images/header3.png" width="600px"></mj-image>
      </mj-column>
    </mj-section>

    <mj-section padding="0px 0px 0px 0px" background-color="#fdf2ce">
      <mj-group width="600px">
        <mj-column vertical-align="top">
          <mj-image align="left" padding="0px 0px 0px 0px" href="https://www.aldi.es/ofertas/promo-miercoles-expres.html?utm_source=newletter&utm_medium=email&utm_campaign=W06%20-%20Indispensables%20para%20tu%20hogar." target="_blank" src="http://aldi.ddb.es/comunicacion/newsletter/2020/enero/w06/images/featured4.png" padding="0px" width="295px"></mj-image>
        </mj-column>

        <mj-column vertical-align="top" padding="20px 0px 0px 0px" width="295px">
          <mj-text align="center" font-size="18px" font-family="Raleway-Medium, Arial, sans-serif;" font-weight="700" color="#f0aa00">
            <p style="margin: 5px 0px 5px">Lámpara LED<BR>multifunción</p>
          </mj-text>

          <mj-image align="center" padding-bottom="20px" padding-left="0px" padding-right="0px" padding-top="10px" src="http://aldi.ddb.es/comunicacion/newsletter/2020/enero/w06/images/pegatina4.png" width="295px"></mj-image>

          <!--CTA MJ-RAW HACK -->
          <mj-raw>
            <tr>
              <td align="center" vertical-align="middle" style="font-size:0px;padding:0 0 0px 0px;word-break:break-word;">
                <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:separate;line-height:100%;">
                  <tr>
                    <td align="center" bgcolor="#f0aa00" width="150" height="35"><a href="https://www.aldi.es/ofertas/promo-miercoles-expres.html?utm_source=newletter&utm_medium=email&utm_campaign=W06%20-%20Indispensables%20para%20tu%20hogar." target="_blank" style="font-size: 12px;font-family: Raleway-bold, Arial, sans-serif;font-weight: BOLD; color: #FFFFFF; text-decoration: none; display: inline-block; min-width: 150px; width: 150px; line-height: 15px;" title="ENCUENTRA MÁS IDEAS"><strong style="font-weight: BOLD; color: #ffffff;" title="ENCUENTRA MÁS IDEAS"> ENCUENTRA<br>MÁS IDEAS </strong></a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </mj-raw>
          <!--CTA MJ-RAW HACK -->

        </mj-column>
      </mj-group>
    </mj-section>

    <mj-section background-color="#fdf2ce">
      <mj-column padding="5px 0px 20px 20px">
        <mj-text align="left" font-size="14px" line-height="20px" font-family="Arial, Helvetica;" font-weight="bold" color="#f0aa00" css-class="mobileTxtHeader">Desde el miércoles 5/02</mj-text>
      </mj-column>
    </mj-section>

    <mj-section padding="0px 0px 0px 0px" background-color="#fdf2ce">
      <mj-group width="600px">
        <mj-column vertical-align="top">
          <mj-image align="left" padding="0px 0px 0px 0px" href="https://www.aldi.es/ofertas/promo-sabado-expres.html?utm_source=newletter&utm_medium=email&utm_campaign=W06%20-%20Indispensables%20para%20tu%20hogar." target="_blank" src="http://aldi.ddb.es/comunicacion/newsletter/2020/enero/w06/images/featured5.png" padding="0px" width="295px"></mj-image>
        </mj-column>

        <mj-column vertical-align="top" padding="15px 0px 0px 0px" width="295px">
          <mj-text align="center" font-size="18px" font-family="Raleway-Medium, Arial, sans-serif;" font-weight="700" color="#f0aa00">
            <p style="margin: 10px 0px 5px">Collar o pulsera<br>para San Valentín</p>
          </mj-text>

          <mj-image align="center" padding-bottom="20px" padding-left="0px" padding-right="0px" padding-top="10px" src="http://aldi.ddb.es/comunicacion/newsletter/2020/enero/w06/images/pegatina5.png" width="295px"></mj-image>

          <!--CTA MJ-RAW HACK -->
          <mj-raw>
            <tr>
              <td align="center" vertical-align="middle" style="font-size:0px;padding:0 0 0px;word-break:break-word;">
                <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:separate;line-height:100%;">
                  <tr>
                    <td align="center" bgcolor="#f0aa00" width="180" height="35"><a href="https://www.aldi.es/ofertas/promo-sabado-expres.html?utm_source=newletter&utm_medium=email&utm_campaign=W06%20-%20Indispensables%20para%20tu%20hogar." target="_blank" style="font-size: 12px;font-family: Raleway-bold, Arial, sans-serif;font-weight: BOLD; color: #FFFFFF; text-decoration: none; display: inline-block; min-width: 180px; width: 180px; line-height: 15px;" title="DESCUBRE MÁS REGALOS  "><strong style="font-weight: BOLD; color: #ffffff;" title="DESCUBRE MÁS REGALOS"> DESCUBRE<br>MÁS REGALOS</strong></a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </mj-raw>
          <!--CTA MJ-RAW HACK -->

        </mj-column>
      </mj-group>
    </mj-section>

    <mj-section background-color="#fdf2ce">
      <mj-column padding="5px 0px 8px 20px">
        <mj-text align="left" font-size="14px" line-height="20px" font-family="Arial, Helvetica;" font-weight="bold" color="#f0aa00" css-class="mobileTxtHeader">Desde el sábado 8/02</mj-text>
      </mj-column>
    </mj-section>

    <mj-section background-color="#ececec">
      <mj-column width="600px">
        <mj-image align="center" padding-bottom="10px" padding-left="0px" padding-right="0px" padding-top="25px" src="http://aldi.ddb.es/comunicacion/newsletter/2020/enero/w06/images/header4.png" width="600px"></mj-image>
      </mj-column>
    </mj-section>

    <mj-section padding="0px 0px 17px 0px" background-color="#ececec">
      <mj-column width="600px">
        <mj-image src="http://aldi.ddb.es/comunicacion/newsletter/2020/enero/w06/images/footer-featured1.png" href="https://www.aldi.es/inspirate/trucos.html?utm_source=newletter&utm_medium=email&utm_campaign=W06%20-%20Indispensables%20para%20tu%20hogar." alt="Solomillo relleno con setas" padding="0px"></mj-image>
      </mj-column>
    </mj-section>

    <mj-section padding="0px 0px 20px 0px" background-color="#ececec">
      <mj-column width="600px">

        <mj-text align="center" font-size="18px" line-height="22px" font-family="Raleway-Medium, Arial, Helvetica;" font-weight="bold" color="#000000" >Descubre los #ALDItrucos,<br>
te harán la vida un poquito más fácil</mj-text>

        <mj-raw>
          <tr>
            <td align="center" vertical-align="middle" style="font-size:0px;padding:10px 0 10px;word-break:break-word;">
              <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:separate;line-height:100%;">
                <tr>
                  <td align="center" bgcolor="#24397c" width="180" height="35"><a href="https://www.aldi.es/inspirate/trucos.html?utm_source=newletter&utm_medium=email&utm_campaign=W06%20-%20Indispensables%20para%20tu%20hogar." conversion="true" target="_blank" style="font-size: 12px;font-family: Raleway-bold, Arial, sans-serif;font-weight: BOLD; color: #ffffff; text-decoration: none; display: inline-block; min-width: 180px; width: 180px; line-height: 35px;letter-spacing:0.01px;" alias="boton" title="VERLOS AHORA"><strong style="font-weight: BOLD; color: #ffffff;" title="VERLOS AHORA"> VERLOS AHORA </strong></a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </mj-raw>

      </mj-column>
    </mj-section>

    <mj-section >
      <mj-column width="600px" >
        <mj-image src="http://aldi.ddb.es/comunicacion/newsletter/2020/enero/w06/images/footer-featured2.png" href="https://www.aldi.es/supermercados/encuentra-tu-supermercado.html?utm_source=newletter&utm_medium=email&utm_campaign=W06%20-%20Indispensables%20para%20tu%20hogar." padding="0px"></mj-image>
      </mj-column>
    </mj-section>

    <mj-section>
      <mj-column width="600px" background-color="#ececec">
        <mj-image src="http://aldi.ddb.es/comunicacion/newsletter/2020/enero/w06/images/footer-featured3.png" href="https://www.aldi.es/folleto.html?utm_source=newletter&utm_medium=email&utm_campaign=W06%20-%20Indispensables%20para%20tu%20hogar." padding="15px 0px 0px 0px"></mj-image>
      </mj-column>
    </mj-section>

    <mj-section background-color="#ffffff">
      <mj-column width="600px">
        <mj-social font-size="18px" icon-size="35px" mode="horizontal" padding="50px 0px 15px 0px">
        
          <mj-social-element name="facebookAldi" padding="0px 7px 0px 0px" href="https://www.facebook.com/AldiSupermercados.es?utm_source=newletter&utm_medium=email&utm_campaign=W06%20-%20Indispensables%20para%20tu%20hogar." src="http://aldi.ddb.es/comunicacion/newsletter/2020/enero/w06/images/fb.png" alt="fb">
          </mj-social-element>
          <mj-social-element name="googleAldi" padding="0px 7px 0px 0px" href="https://twitter.com/aldi_es?utm_source=newletter&utm_medium=email&utm_campaign=W06%20-%20Indispensables%20para%20tu%20hogar." src="http://aldi.ddb.es/comunicacion/newsletter/2020/enero/w06/images/tw.png" alt="tw">
          </mj-social-element>
          <mj-social-element name="instagramAldi" padding="0px 7px 0px 0px" href="https://www.instagram.com/aldi.es?utm_source=newletter&utm_medium=email&utm_campaign=W06%20-%20Indispensables%20para%20tu%20hogar." target="_blank" src="http://aldi.ddb.es/comunicacion/newsletter/2020/enero/w06/images/inst.png">
          </mj-social-element>
          <mj-social-element name="youtubeAldi" padding="0px 7px 0px 0px" href="https://www.youtube.com/channel/UCqJCzG9bO3EFFkXiC3WusZw?utm_source=newletter&utm_medium=email&utm_campaign=W06%20-%20Indispensables%20para%20tu%20hogar." target="_blank" src="http://aldi.ddb.es/comunicacion/newsletter/2020/enero/w06/images/yt.png" alt="yt">
          </mj-social-element>
          <mj-social-element name="pinteresaldi" padding="0px 7px 0px 0px" href="https://www.pinterest.es/Aldi_Es?utm_source=newletter&utm_medium=email&utm_campaign=W06%20-%20Indispensables%20para%20tu%20hogar." target="_blank" src="http://aldi.ddb.es/comunicacion/newsletter/2020/enero/w06/images/pi.png" alt="pi">
          </mj-social-element>
        </mj-social>
      </mj-column>
    </mj-section>

    <mj-section padding="30px 0px 40px" css-class="section-social" background-color="#ffffff">
      <mj-group css-class="section-social-group" width="600px">
        <mj-column width="250px" vertical-align="middle">
          <mj-image src="http://aldi.ddb.es/comunicacion/newsletter/2020/enero/w06/images/encuentratienda.png" alt="encuentra tu tienda" align="left" border="none" href="https://www.aldi.es/supermercados/encuentra-tu-supermercado.html?utm_source=newletter&utm_medium=email&utm_campaign=W06%20-%20Indispensables%20para%20tu%20hogar." width="140px" alt="Encuentra tienda"></mj-image>
        </mj-column>
        <mj-column width="80px" vertical-align="middle"></mj-column>
        <mj-column width="250px" vertical-align="middle">
          <mj-image src="http://aldi.ddb.es/comunicacion/newsletter/2020/enero/w06/images/contigo.png" alt="contigo Aldi" align="right" border="none" href="https://www.aldi.es/contigo-aldi?utm_source=newletter&utm_medium=email&utm_campaign=W06%20-%20Indispensables%20para%20tu%20hogar." width="120px" css-class="imgFooter" alt="contigo"></mj-image>
          <mj-image src="http://aldi.ddb.es/comunicacion/newsletter/2020/enero/w06/images/servei.png" alt="contigo Aldi" align="right" border="none" href="tel:900902466?utm_source=newletter&utm_medium=email&utm_campaign=W06%20-%20Indispensables%20para%20tu%20hogar." width="120px" css-class="imgFooter" alt="contigo tel"></mj-image>
          <mj-image src="http://aldi.ddb.es/comunicacion/newsletter/2020/enero/w06/images/contigoemail.png" alt="contigo Aldi" align="right" border="none" href="mailto:contigo@aldi.es?utm_source=newletter&utm_medium=email&utm_campaign=W06%20-%20Indispensables%20para%20tu%20hogar." width="120px" css-class="imgFooter" alt="contigo email"></mj-image>

        </mj-column>
      </mj-group>
    </mj-section>

    <mj-section background-color="#ffffff">
      <mj-column width="600px">
        <mj-text align="center" padding="0 10px">
          <p style="margin:0; padding-bottom:7px; font-size:10px; line-height:12px; margin-bottom:10px; color:#111111; font-family: Arial, Helvetica, sans-serif;">*Precios válidos del 3 al 9 de febrero de 2020.</p>
          <p style="margin:0; padding-bottom:7px; font-size:10px; line-height:12px; margin-bottom:10px; color:#111111; font-family: Arial, Helvetica, sans-serif;">¡Añádenos a tu lista de contactos! Así te asegurarás de recibir nuestra newsletter en tu bandeja de entrada principal. </p>
          <p style="margin:0; padding-bottom:10px; font-size:10px; line-height:14px; margin-bottom:10px; color:#111111; font-family: Arial, Helvetica, sans-serif;">En cumplimiento de lo establecido por los nuevos requisitos del Reglamento General de la Protección de Datos de la UE (GDPR) de Protección de Datos de Carácter Personal, le informamos que los datos personales contenidos en esta comunicación forman parte del fichero de contactos propiedad de ALDI Supermercados S.L. cuya finalidad es la de mantener con usted relaciones comerciales y/o profesionales, lo que usted consintió y aceptó. En todo caso podrá ejercer los derechos de acceso, rectificación, oposición, limitación del tratamiento, portabilidad y cancelación dirigiéndose a ALDI por correo electrónico a través de <a href="mailto:protecciondatos@aldi.es?utm_source=newletter&utm_medium=email&utm_campaign=W06%20-%20Indispensables%20para%20tu%20hogar." style="color:#111111; text-decoration:none;">protecciondatos@aldi.es</a> indicando el asunto GDPR.</p>
        </mj-text>
        <mj-text align="center" padding="0 10px" css-class="contact-foote
        r">
          <p style="margin:0; padding-bottom:10px; font-size:11px; line-height:15px; margin-bottom:10px; color:#111111; font-family: Arial, Helvetica, sans-serif;">
            <a href="https://www.aldi.es/servicios/apuntate-nuestra-newsletter/baja-de-la-newsletter.html?utm_source=newletter&utm_medium=email&utm_campaign=W06%20-%20Indispensables%20para%20tu%20hogar." style="color:#008bcf; text-decoration:none;">Baja de la newsletter</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="https://www.aldi.es/supermercados/encuentra-tu-supermercado.html?utm_source=newletter&utm_medium=email&utm_campaign=W06%20-%20Indispensables%20para%20tu%20hogar." style="color:#008bcf; text-decoration:none;">Tiendas ALDI</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="[linktocontent]" style="color:#008bcf; text-decoration:none;">Ver en navegador</a>
          </p>
        </mj-text>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>