<mjml>
<mj-head>
<mj-title>Vuelve lo mejor para que tus peques disfruten del verano 🥳.</mj-title>
<mj-style inline="inline">
.link-nostyle {
    color: inherit;
    text-decoration: underline;
}
@media only screen and (max-width: 585px) { 
    .wrapper-mobileset{	
        margin: auto 0px !important;
        } 
}
</mj-style>
<mj-style>
* {
-ms-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
}
a[x-apple-data-detectors] {
    color: inherit !important;
    text-decoration: none !important;
    font-size: inherit !important;
    font-family: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
}
.yshortcuts a {
    border-bottom: none !important;
}   
@media screen yahoo {
* {
        overflow: visible!important
    }
    .y-overflow-hidden {
        overflow: hidden!important
    }
}
@media only screen and (max-width: 585px) { 
.social-ico-bug{
    width: 102% !important;
} 
.imgBugSocial a img{
    margin-left: 0px;
} 
    .imgBugSocial tr td{
        width: 27px !important;
} 
img.bugLines {
    width:100% !important;
    height:auto !important;
}
u ~ div .full-wrap {min-width: 100vw;}
div > u ~ div .full-wrap {min-width: 100%;}
.wrapper-mobileset{
    background-color: #ffffff !important;
    outline:20px solid #ffffff;
    box-sizing: border-box;
    border-left: 4px solid #ffffff;
    border-right: 4px solid #ffffff;
    margin: auto 0px !important;
}
.header-logo {
    display: block !important;
    float:right;
    padding-right:10px !important;
    width:25%;
}
.contact-footer a {
        font-size: 10px !important;
}  
.section-social-group {
    text-align: center;
}
.sectionBug {
        width: 290px !important;
}
.imgBug2 tr td img {
        width: 310px !important;
        margin: 0 auto;
}
.ctaButtonMobile-Big {
        width: 150px !important;
}
.imgFooter tr td img{
        width: 140px !important;
} 

.imgFooter-tienda tr td img{
        width: 200px !important;
} 
.imgFooter  {
        padding: 0px 0px 0 0 !important;
} 
.imgBugLogoEspecial tr td img{
        width: 227px !important;
        margin: 0 auto;
} 
.imgBugLogoCompraSemanal tr td img{
        width: 260px !important;
        margin: 0 auto;
} 
.imgBugLogoManualidades tr td img{
        width: 210px !important;
        margin: 0 auto;
} 
.txt-img-date p {
    font-size: 18px !important;
    line-height: 30px !important;
    text-align: center !important;
    margin: 0px auto 0px !important;
    padding: 0px !important;
    }
.txt-img-date-new  {
    font-size: 20px !important;
    line-height: 30px !important;
    text-align: center !important;
    margin: 10px auto 10px !important;
    padding: 0px !important;
    } 
.txt-img-BigLeft p{
    font-size: 30px !important;
    line-height: 32px !important;
    width: 290px !important;
    text-align: left !important;
    margin: 25px auto 0px !important;
    padding: 0px !important;
} 
.txt-img-Big p{
    font-size: 30px !important;
    line-height: 32px !important;
    width: 290px !important;
    text-align: left !important;
    margin: 25px auto 10px !important;
    padding: 0px !important;
} 
.txt-img-Big-sub p {
    font-size: 18px !important;
    line-height: 23px !important;
    width: 290px !important;
    text-align: left !important;
    margin: 10px auto 15px !important;
    padding: 0px !important;
} 
.txt-img-strong p {
    font-size: 18px !important;
    line-height: 23px !important;
    width: 290px !important;
    text-align: left !important;
    margin: 15px auto 2px !important;
    padding: 0px !important;
    } 
.txt-img p {
    font-size: 17px !important;
    line-height: 22px !important;
    width: 290px !important;
    text-align: left !important;
    margin: 0px auto 0px !important;
    padding: 0px !important;
} 
.txt-img-Cta p {
    width: 290px !important;
    text-align: left !important;
    margin: 0px auto !important;
} 
.txt-img-Cta p a {
    font-size: 19px !important;
    width: 290px !important;
    text-align: left !important;
} 
.txt-img-last p {
    font-size: 20px !important;
    line-height: 25px !important;
    width: 290px !important;
    text-align: left !important;
    margin: 0px auto 6px !important;
    padding: 0px !important;
} 
.section-margin {
    margin-bottom:18px !important;
}
.ctaButtonMobile td {
    width: 100% !important;
    margin: 10px 0px !important;
    height: 35px !important;
}  
.ctaButtonMobile td a strong {
    font-size: 15px !important;
}  

}
@media (prefers-color-scheme: dark) {
    .darkColor-white {
        color: #ffffff !important;
    }
    .darkColor-black {
        color: #111111 !important;
    }
}      
</mj-style>
<mj-breakpoint width="585px" />
<mj-attributes>
    <mj-all font-family="Helvetica, Arial, sans-serif" padding="0px"></mj-all>
    <mj-text font-weight="400" font-size="14px" color="#000000" line-height="21px"></mj-text>
    <mj-class name="btn-base" font-size="12px" line-height="10px" />
</mj-attributes>
<mj-preview>Y las plantas que alegrarán tus días y tu casa 🌿. </mj-preview>
</mj-head>
<mj-body background-color="#ffffff" css-class="wrapper-mobileset full-wrap">

    <mj-section padding-bottom="10px" padding-top="10px" padding-left="7px" padding-right="7px" text-align="center"  padding="10px 7px" background-color="#e4e4e4">
        <mj-column>
            <mj-text align="center" font-size="9px" letter-spacing="1px" line-height="20px" font-family="Arial, sans-serif" font-weight="normal" color="#808890">Si no ves correctamente este email haz clic, <a href="[linktocontent]" color="#000000" class="link-nostyle" line-height="10px">aquí</a></mj-text>
        </mj-column>
    </mj-section>

    <mj-section background-color="#ffffff" background-url="http://aldi.ddb.es/comunicacion/newsletter/2020/julio/w28bazar/images/bgwhite.png">
        <mj-column>
            <mj-image padding="20px 30px 20px 0px" width="100px" align="right" src="http://aldi.ddb.es/comunicacion/newsletter/2020/julio/w28bazar/images/logo.jpg" href="https://www.aldi.es?utm_source=Aldi%20Spain&utm_medium=email&utm_campaign=W28%20-%20Vuelve%20lo%20mejor%20para%20que%20tus%20peques%20disfruten%20del%20verano%20%F0%9F%A5%B3."  css-class="header-logo"></mj-image>
        </mj-column>
    </mj-section>

    <mj-section padding="0px 0px 20px 0px"  > 
        <mj-column >
            <mj-image src="http://aldi.ddb.es/comunicacion/newsletter/2020/julio/w28bazar/images/cabecera2.gif" href="https://www.aldi.es/ofertas/sabado-bazar-aldi.html?utm_source=Aldi%20Spain&utm_medium=email&utm_campaign=W28%20-%20Vuelve%20lo%20mejor%20para%20que%20tus%20peques%20disfruten%20del%20verano%20%F0%9F%A5%B3." alt="" padding="0px"></mj-image>
        </mj-column>
    </mj-section>

    <mj-section padding="0px 0px 18px 0px"  padding="0px 0px 0px 0px" >
        <mj-column  vertical-align="top" width="183px" padding="0px 0px 0px 0px" css-class="section-margin">
            <mj-image  align="center" padding="0px 0px 0px 0px" href="https://www.aldi.es/ofertas/miercoles-bazar-aldi.html?utm_source=Aldi%20Spain&utm_medium=email&utm_campaign=W28%20-%20Vuelve%20lo%20mejor%20para%20que%20tus%20peques%20disfruten%20del%20verano%20%F0%9F%A5%B3." src="http://aldi.ddb.es/comunicacion/newsletter/2020/julio/w28bazar/images/img3.jpg"  padding="0px" css-class="imgBug2"  ></mj-image>
        </mj-column>
        <mj-column width="13px" ></mj-column>
            <mj-column  vertical-align="top" width="183px" padding="0px 0px 0px 0px" css-class="section-margin" >
            <mj-image  align="center" padding="0px 0px 0px 0px" href="https://www.aldi.es/ofertas/miercoles-bazar-aldi.html?utm_source=Aldi%20Spain&utm_medium=email&utm_campaign=W28%20-%20Vuelve%20lo%20mejor%20para%20que%20tus%20peques%20disfruten%20del%20verano%20%F0%9F%A5%B3." src="http://aldi.ddb.es/comunicacion/newsletter/2020/julio/w28bazar/images/img4.jpg"  padding="0px" css-class="imgBug2"  ></mj-image>

        </mj-column>
        <mj-column width="13px" ></mj-column>
        <mj-column  vertical-align="top" width="183px" padding="0px 0px 0px 0px" >
   
         <mj-image  align="center" padding="0px 0px 0px 0px" href="https://www.aldi.es/ofertas/miercoles-bazar-aldi.html?utm_source=Aldi%20Spain&utm_medium=email&utm_campaign=W28%20-%20Vuelve%20lo%20mejor%20para%20que%20tus%20peques%20disfruten%20del%20verano%20%F0%9F%A5%B3." src="http://aldi.ddb.es/comunicacion/newsletter/2020/julio/w28bazar/images/img5.jpg"  padding="0px" css-class="imgBug2"  ></mj-image>

        </mj-column>
    </mj-section>

    <mj-section padding="0px 0px 18px 0px"  >
        <mj-column  vertical-align="top" width="280px"  padding="0px 0px 0px 0px" css-class="section-margin" >
            <mj-image  align="center" padding="0px 0px 0px 0px" href="https://www.aldi.es/ofertas/bazar-aldi-sabado.html?utm_source=Aldi%20Spain&utm_medium=email&utm_campaign=W28%20-%20Vuelve%20lo%20mejor%20para%20que%20tus%20peques%20disfruten%20del%20verano%20%F0%9F%A5%B3." src="http://aldi.ddb.es/comunicacion/newsletter/2020/julio/w28bazar/images/img1.jpg"  padding="0px" css-class="imgBug2"  ></mj-image>
        </mj-column>
        <mj-column width="15px" ></mj-column>
        <mj-column  vertical-align="top" width="280px"  padding="0px 0px 0px 0px" >
         <mj-image  align="center" padding="0px 0px 0px 0px" href="https://www.aldi.es/ofertas/bazar-aldi-sabado.html?utm_source=Aldi%20Spain&utm_medium=email&utm_campaign=W28%20-%20Vuelve%20lo%20mejor%20para%20que%20tus%20peques%20disfruten%20del%20verano%20%F0%9F%A5%B3." src="http://aldi.ddb.es/comunicacion/newsletter/2020/julio/w28bazar/images/img2.jpg"  padding="0px" css-class="imgBug2"  ></mj-image>
        </mj-column>
    </mj-section>

     <mj-section padding="0px 0px 18px 0px"> 
        <mj-column width="577px" >
            <mj-image src="http://aldi.ddb.es/comunicacion/newsletter/2020/julio/w28bazar/images/img6.jpg" href="https://www.aldi.es/ofertas/miercoles-bazar-aldi.html?utm_source=Aldi%20Spain&utm_medium=email&utm_campaign=W28%20-%20Vuelve%20lo%20mejor%20para%20que%20tus%20peques%20disfruten%20del%20verano%20%F0%9F%A5%B3." css-class="imgBug2" padding="0px"></mj-image>
        </mj-column>

    </mj-section>

    <mj-section padding="0px 0px 18px 0px"  >
        <mj-column  vertical-align="top" width="280px"  padding="0px 0px 0px 0px" css-class="section-margin">
            <mj-image  align="center" padding="0px 0px 0px 0px" href="https://www.aldi.es/ofertas/miercoles-bazar-aldi.html?utm_source=Aldi%20Spain&utm_medium=email&utm_campaign=W28%20-%20Vuelve%20lo%20mejor%20para%20que%20tus%20peques%20disfruten%20del%20verano%20%F0%9F%A5%B3." src="http://aldi.ddb.es/comunicacion/newsletter/2020/julio/w28bazar/images/img7.jpg"  padding="0px" css-class="imgBug2"  ></mj-image>
        </mj-column>
        <mj-column width="15px" ></mj-column>
        <mj-column  vertical-align="top" width="280px"  padding="0px 0px 0px 0px" >
         <mj-image  align="center" padding="0px 0px 0px 0px" href="https://www.aldi.es/ofertas/miercoles-bazar-aldi.html?utm_source=Aldi%20Spain&utm_medium=email&utm_campaign=W28%20-%20Vuelve%20lo%20mejor%20para%20que%20tus%20peques%20disfruten%20del%20verano%20%F0%9F%A5%B3." src="http://aldi.ddb.es/comunicacion/newsletter/2020/julio/w28bazar/images/img8.jpg"  padding="0px" css-class="imgBug2"  ></mj-image>
        </mj-column>
    </mj-section>


    <mj-section padding="5px 0px 0px 0px" background-color="#f7f7f7"> 
            <mj-column  >
                <mj-text align="center" font-size="15px"  line-height="22px" font-family="'Raleway-Regular', Arial, Helvetica,sans-serif;" font-weight="300" color="#000000"><p class="darkColor-white">Lo que vale mucho cuesta muy poco</p></mj-text>
            </mj-column>
    </mj-section>

    <mj-section background-color="#f7f7f7">
        <mj-group width="500px" css-class="social-ico-bug"> 
            <mj-column css-class="social-div"></mj-column>
            <mj-column css-class="social-div"></mj-column>
            <mj-column css-class="social-div"></mj-column>
            <mj-column css-class="social-div"> 
            <mj-image width="30px" padding="0" href="https://www.facebook.com/AldiSupermercados.es?utm_source=Aldi%20Spain&utm_medium=email&utm_campaign=W28%20-%20Vuelve%20lo%20mejor%20para%20que%20tus%20peques%20disfruten%20del%20verano%20%F0%9F%A5%B3." src="http://aldi.ddb.es/comunicacion/newsletter/2020/julio/w28bazar/images/fb.png" css-class="imgBugSocial"/>
            </mj-column>

            <mj-column css-class="social-div">
            <mj-image width="30px" padding="0" href="https://twitter.com/aldi_es??utm_source=Aldi%20Spain&utm_medium=email&utm_campaign=W28%20-%20Vuelve%20lo%20mejor%20para%20que%20tus%20peques%20disfruten%20del%20verano%20%F0%9F%A5%B3." src="http://aldi.ddb.es/comunicacion/newsletter/2020/julio/w28bazar/images/tw.png" css-class="imgBugSocial"/>
            
            </mj-column>

            <mj-column css-class="social-div">
            <mj-image width="30px" padding="0" href="https://www.instagram.com/aldi.es/?utm_source=Aldi%20Spain&utm_medium=email&utm_campaign=W28%20-%20Vuelve%20lo%20mejor%20para%20que%20tus%20peques%20disfruten%20del%20verano%20%F0%9F%A5%B3." target="_blank" src="http://aldi.ddb.es/comunicacion/newsletter/2020/julio/w28bazar/images/inst.png" css-class="imgBugSocial"/>
            </mj-column>

            <mj-column css-class="social-div">
            <mj-image width="30px" padding="0" href="https://www.youtube.com/channel/UCqJCzG9bO3EFFkXiC3WusZw?utm_source=Aldi%20Spain&utm_medium=email&utm_campaign=W28%20-%20Vuelve%20lo%20mejor%20para%20que%20tus%20peques%20disfruten%20del%20verano%20%F0%9F%A5%B3." target="_blank" src="http://aldi.ddb.es/comunicacion/newsletter/2020/julio/w28bazar/images/yt.png"  css-class="imgBugSocial"/>
            
            </mj-column>
            <mj-column css-class="social-div">
            <mj-image width="30px" padding="0" href="https://www.pinterest.es/Aldi_Es/?utm_source=Aldi%20Spain&utm_medium=email&utm_campaign=W28%20-%20Vuelve%20lo%20mejor%20para%20que%20tus%20peques%20disfruten%20del%20verano%20%F0%9F%A5%B3." target="_blank" src="http://aldi.ddb.es/comunicacion/newsletter/2020/julio/w28bazar/images/pi.png"  css-class="imgBugSocial"/>
            
            </mj-column>
            <mj-column css-class="social-div"></mj-column>
            <mj-column css-class="social-div"></mj-column>
            <mj-column css-class="social-div"></mj-column>
    
        </mj-group>
    </mj-section>

    <mj-section padding="15px 0px 0px 0px" background-color="#f7f7f7"> 
            <mj-column  >
                <mj-text align="center" font-size="15px"  line-height="22px" font-family="'Raleway-Regular', Arial, Helvetica,sans-serif;" font-weight="300" color="#000000"><p class="darkColor-white"></p></mj-text>
            </mj-column>
    </mj-section>

   <mj-section padding="30px 0px 40px" css-class="section-social"  >
        <mj-group vertical-align="middle" css-class="section-social-group"  >
            <mj-column width="45%" css-class="darkmode-social">
                <mj-image src="http://aldi.ddb.es/comunicacion/newsletter/2020/julio/w28bazar/images/encuentratienda.png" alt="encuentra tu tienda" align="left" border="none" href="https://www.aldi.es/supermercados/encuentra-tu-supermercado.html?utm_source=Aldi%20Spain&utm_medium=email&utm_campaign=W28%20-%20Vuelve%20lo%20mejor%20para%20que%20tus%20peques%20disfruten%20del%20verano%20%F0%9F%A5%B3." width="180px" alt="Encuentra tienda"></mj-image>
            </mj-column>
            <mj-column width="47%" css-class="darkmode-social">
                <mj-image src="http://aldi.ddb.es/comunicacion/newsletter/2020/julio/w28bazar/images/contigo.png" alt="contigo Aldi" align="right" border="none" href="https://www.aldi.es/contigo-aldi?utm_source=Aldi%20Spain&utm_medium=email&utm_campaign=W28%20-%20Vuelve%20lo%20mejor%20para%20que%20tus%20peques%20disfruten%20del%20verano%20%F0%9F%A5%B3." width="120px" css-class="imgFooter" alt="contigo"></mj-image>
                <mj-image src="http://aldi.ddb.es/comunicacion/newsletter/2020/julio/w28bazar/images/servei.png" alt="contigo Aldi" align="right" border="none" href="tel:900902466?utm_source=Aldi%20Spain&utm_medium=email&utm_campaign=W28%20-%20Vuelve%20lo%20mejor%20para%20que%20tus%20peques%20disfruten%20del%20verano%20%F0%9F%A5%B3." width="120px" css-class="imgFooter" alt="contigo tel"></mj-image>
                <mj-image src="http://aldi.ddb.es/comunicacion/newsletter/2020/julio/w28bazar/images/contigoemail.png" alt="contigo Aldi" align="right" border="none" href="mailto:contigo@aldi.es?utm_source=Aldi%20Spain&utm_medium=email&utm_campaign=W28%20-%20Vuelve%20lo%20mejor%20para%20que%20tus%20peques%20disfruten%20del%20verano%20%F0%9F%A5%B3." width="120px" css-class="imgFooter" alt="contigo email"></mj-image>
            </mj-column>
        </mj-group>
    </mj-section>

    <mj-section>
        <mj-column>
            <mj-text align="center" padding="0 10px" >
                 <p style="margin:0; padding-bottom:7px; font-size:13px; line-height:20px; margin-bottom:10px; color:#111111; font-family: Arial, Helvetica, sans-serif;" class="darkColor-black">*Precios válidos del 08 de julio al 14 de julio de 2020<br>**Si resides en Baleares, consulta los precios en <a href="https://folleto.aldi.es/folletos-especiales/aldi-especial-aire-libre-baleares/#/?utm_source=Aldi%20Spain&utm_medium=email&utm_campaign=W28%20-%20Vuelve%20lo%20mejor%20para%20que%20tus%20peques%20disfruten%20del%20verano%20%F0%9F%A5%B3." style="color:#4264b6; text-decoration:underline;">nuestro folleto.</a></p>
                 
                <p style="margin:0; padding-bottom:7px; font-size:10px; line-height:12px; margin-bottom:10px; color:#111111; font-family: Arial, Helvetica, sans-serif;" class="darkColor-black">¡Añádenos a tu lista de contactos! Así te asegurarás de recibir nuestra newsletter en tu bandeja de entrada principal. </p>
                <p style="margin:0; padding-bottom:10px; font-size:10px; line-height:14px; margin-bottom:10px; color:#111111; font-family: Arial, Helvetica, sans-serif;" class="darkColor-black">En cumplimiento de lo establecido por los nuevos requisitos del Reglamento General de la Protección de Datos de la UE (GDPR) de Protección de Datos de Carácter Personal, le informamos que los datos personales contenidos en esta comunicación forman parte del fichero de contactos propiedad de ALDI Supermercados S.L. cuya finalidad es la de mantener con usted relaciones comerciales y/o profesionales, lo que usted consintió y aceptó. En todo caso podrá ejercer los derechos de acceso, rectificación, oposición, limitación del tratamiento, portabilidad y cancelación dirigiéndose a ALDI por correo electrónico a través de <a href="mailto:protecciondatos@aldi.es?utm_source=Aldi%20Spain&utm_medium=email&utm_campaign=W28%20-%20Vuelve%20lo%20mejor%20para%20que%20tus%20peques%20disfruten%20del%20verano%20%F0%9F%A5%B3." style="color:#111111; text-decoration:none;">protecciondatos@aldi.es</a> indicando el asunto GDPR.</p>
            </mj-text>
            <mj-text align="center" padding="0 10px" css-class="contact-footer">                  
                <p style="margin:0; padding-bottom:10px; font-size:11px; line-height:15px; margin-bottom:10px; color:#111111; font-family: Arial, Helvetica, sans-serif;">
                    <a href="https://www.aldi.es/servicios/apuntate-nuestra-newsletter/baja-de-la-newsletter.html?utm_source=Aldi%20Spain&utm_medium=email&utm_campaign=W28%20-%20Vuelve%20lo%20mejor%20para%20que%20tus%20peques%20disfruten%20del%20verano%20%F0%9F%A5%B3." style="color:#008bcf; text-decoration:none;" >Baja de la newsletter</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                    <a href="https://www.aldi.es/supermercados/encuentra-tu-supermercado.html?utm_source=Aldi%20Spain&utm_medium=email&utm_campaign=W28%20-%20Vuelve%20lo%20mejor%20para%20que%20tus%20peques%20disfruten%20del%20verano%20%F0%9F%A5%B3." style="color:#008bcf; text-decoration:none;">Tiendas ALDI</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                    <a href="[linktocontent]" style="color:#008bcf; text-decoration:none;">Ver en navegador</a>
                </p>
            </mj-text>
        </mj-column>
    </mj-section>

</mj-body>
</mjml>