<mjml>
    <mj-head>
    <mj-title>Cómo crear tus huevos de Pascua y convertirlos en macetitas 🌼.</mj-title>
    <mj-style inline="inline">

    .link-nostyle {
        color: inherit;
        text-decoration: underline;
    }
       
    @media only screen and (max-width: 585px) { 
        .wrapper-mobileset{	
            margin: auto 0px !important;
         } 
    }

</mj-style>
<mj-style>

      @font-face {
          font-family: 'Raleway-bold', Arial, Helvetica;
              src: url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-Bold_eot.dat');
              src: url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-Bold_ttf.dat') format('truetype'),
                  url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-Bold_eot?#iefix.dat') format('embedded-opentype'),
                  url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-Bold_woff2.dat') format('woff2'),
                  url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-Bold_woff.dat') format('woff');
          font-weight: bold;
          font-style: normal;
    }
  
        
    @font-face {
        font-family: 'Raleway-ExtraBold', Arial, Helvetica;
            src: url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-ExtraBold_eot.dat');
            src: url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-ExtraBold_ttf.dat') format('truetype'),
                url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-ExtraBold?#iefix.dat') format('embedded-opentype'),
                 url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-ExtraBold_woff2.dat') format('woff2'),
                url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-ExtraBold_woff.dat') format('woff');
         font-weight: 900;
         font-style: normal;
    }
    
    @font-face {
        font-family: 'Raleway-Regular', Arial, Helvetica;
                src: url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-Regular_eot.dat');
                src: url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-Regular_ttf.dat') format('truetype'),
                    url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-Regular?#iefix.dat') format('embedded-opentype'),
                     url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-Regular_woff2.dat') format('woff2'),
                    url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-Regular_woff.dat') format('woff');   
        font-weight: 300;
        font-style: normal;
    }
   
    @font-face {
      font-family: 'Raleway-Medium', Arial, Helvetica;
                src: url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-Medium_eot.dat');
                src: url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-Medium_ttf.dat') format('truetype'),
                    url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-Medium?#iefix.dat') format('embedded-opentype'),
                    url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-Medium_woff2.dat') format('woff2'),
                    url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-Medium_woff.dat') format('woff');
         font-weight: 500;
         font-style: normal;
   }

    /* 
    **** FIX BUGCLASS 
    **/

    * {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    }
    
    a[x-apple-data-detectors] {
        color: inherit !important;
        text-decoration: none !important;
        font-size: inherit !important;
        font-family: inherit !important;
        font-weight: inherit !important;
        line-height: inherit !important;
    }

    .yshortcuts a {
        border-bottom: none !important;
    }   

@media screen yahoo {
    * {
         overflow: visible!important
      }
      .y-overflow-hidden {
            overflow: hidden!important
      }
 }

     /* 
     ****** MOBILE *****
                        */
 
@media only screen and (max-width: 585px) { 

  
    
    .social-ico-bug{
        width: 102% !important;
    } 

    .imgBugSocial a img{
        margin-left: 0px;
    } 

     .imgBugSocial tr td{
         width: 27px !important;
    } 

    img.bugLines {
        width:100% !important;
        height:auto !important;
    }

    u ~ div .full-wrap {min-width: 100vw;}
    div > u ~ div .full-wrap {min-width: 100%;}
  
    .wrapper-mobileset{
        background-color: #ffffff !important;
        outline:20px solid #ffffff;
        box-sizing: border-box;
        border-left: 4px solid #ffffff;
        border-right: 4px solid #ffffff;
        margin: auto 0px !important;
    }

    .header-logo {
        display: block !important;
        float:right;
        padding-right:10px !important;
        width:25%;
    }
  
    .contact-footer a {
 	      font-size: 10px !important;
    }  

    .section-social-group {
      text-align: center;
    }

    /* 
    **** PICS MAIN COLOUMNS CLASS 
    **/

.cta-new {
    width: 260px !important;
}

  .sectionBug {
          width: 290px !important;
    }

    .imgBug2Table table {
         width: 290px !important;
         margin: 0 auto;
    }
 
 .imgBug2New tr td img {
         width: 290px !important;
         margin: 0 auto;
    }

    .imgBug2 tr td img {
         width: 260px !important;
         margin: 0 auto;
    }

    .ctaButtonMobile-Big {
          width: 150px !important;
    }

    .imgBugLogoEspecial tr td img{
         width: 175px !important;
         margin: 0 auto;
    } 

    .imgBugLogoCompraSemanal tr td img{
         width: 260px !important;
         margin: 0 auto;
    } 

    .imgBugLogoManualidades tr td img{
         width: 210px !important;
         margin: 0 auto;
    } 
    /* 
    **** TITLE CLASS 
    **/

    .txt-img-date p {
        font-size: 20px !important;
        line-height: 30px !important;
        text-align: center !important;
        margin: 0px auto 0px !important;
        padding: 0px !important;
     } 

.txt-img-date-new  {
        font-size: 20px !important;
        line-height: 30px !important;
        text-align: center !important;
        margin: 10px auto 10px !important;
        padding: 0px !important;
     } 


    .txt-img-BigLeft p{
        font-size: 30px !important;
        line-height: 32px !important;
        width: 260px !important;
        text-align: left !important;
        margin: 25px auto 0px !important;
        padding: 0px !important;
    } 

    .txt-img-Big p{
        font-size: 30px !important;
        line-height: 32px !important;
        width: 260px !important;
        text-align: left !important;
        margin: 25px auto 10px !important;
        padding: 0px !important;
    } 

    .txt-img-Big-sub p {
        font-size: 20px !important;
        line-height: 25px !important;
        width: 260px !important;
        text-align: left !important;
        margin: 10px auto 15px !important;
        padding: 0px !important;
    } 
    
    /* 
    **** PARAPH CLASS 
    **/

    .txt-img-strong p {
        font-size: 20px !important;
        line-height: 26px !important;
        width: 260px !important;
        text-align: left !important;
        margin: 15px auto 2px !important;
        padding: 0px !important;
     } 

    .txt-img p {
        font-size: 20px !important;
        line-height: 24px !important;
        width: 260px !important;
        text-align: left !important;
        margin: 2px auto 3px !important;
        padding: 0px !important;
    } 

    .txt-img-Cta p {
        width: 260px !important;
        text-align: left !important;
        margin: 0px auto !important;
    } 

    .txt-img-Cta p a {
        font-size: 19px !important;
        width: 260px !important;
        text-align: left !important;
    } 

    .txt-img-last p {
        font-size: 20px !important;
        line-height: 25px !important;
        width: 260px !important;
        text-align: left !important;
        margin: 0px auto 6px !important;
        padding: 0px !important;
    } 

    /* 
    **** CTA CLASS 
    **/


    .ctaButtonMobile td {
        width: 100% !important;
        margin: 10px 0px !important;
        height: 35px !important;
    }  



    .ctaButtonMobile td a strong {
            font-size: 17px !important;
    }  

}

    @media (prefers-color-scheme: dark) {

        .darkColor-white {
            color: #ffffff !important;
        }

        .darkColor-black {
            color: #111111 !important;
        }

    }      

</mj-style>
<mj-breakpoint width="585px" />
<mj-attributes>
    <mj-all font-family="Helvetica, Arial, sans-serif" padding="0px"></mj-all>
    <mj-text font-weight="400" font-size="14px" color="#000000" line-height="21px"></mj-text>
    <mj-class name="btn-base" font-size="12px" line-height="10px" />
</mj-attributes>

<mj-preview>Y una receta de bacalao para saborear aún más la Pascua 🍴.</mj-preview>

</mj-head>

<mj-body background-color="#ffffff" css-class="wrapper-mobileset full-wrap">

    <mj-section padding-bottom="10px" padding-top="10px" padding-left="7px" padding-right="7px" text-align="center" vertical-align="top" padding="10px 7px" background-color="#e4e4e4">
        <mj-column>
            <mj-text align="center" font-size="9px" letter-spacing="1px" line-height="20px" font-family="Arial, sans-serif" font-weight="normal" color="#808890">Si no ves correctamente este email haz clic, <a href="[linktocontent]" color="#000000" class="link-nostyle" line-height="10px">aquí</a></mj-text>
        </mj-column>
    </mj-section>

    <mj-section background-color="#ffffff" background-url="http://aldi.ddb.es/comunicacion/newsletter/2020/abril/w15/images/bgwhite.png">
        <mj-column>
            <mj-image padding="20px 30px 20px 0px" width="100px" align="right" src="http://aldi.ddb.es/comunicacion/newsletter/2020/abril/w15/images/logo.jpg" href="https://www.aldi.es?utm_source=newletter&utm_medium=email&utm_campaign=W15%20-%20C%C3%B3mo%20crear%20tus%20huevos%20de%20Pascua%20y%20convertirlos%20en%20macetitas%20%F0%9F%8C%BC."  css-class="header-logo"></mj-image>
        </mj-column>
    </mj-section>

    <mj-section padding="0px 0px 60px 0px"> 
        <mj-column >
            <mj-image src="http://aldi.ddb.es/comunicacion/newsletter/2020/abril/w15/images/cabecera2.jpg" href="https://www.aldi.es/ofertas/especial-pascua.html?utm_source=newletter&utm_medium=email&utm_campaign=W15%20-%20C%C3%B3mo%20crear%20tus%20huevos%20de%20Pascua%20y%20convertirlos%20en%20macetitas%20%F0%9F%8C%BC." alt="" padding="0px"></mj-image>
        </mj-column>
    </mj-section>

    <mj-section padding="0px 0px 50px 0px" >


        <mj-column  vertical-align="top" width="280px"  padding="0px 0px 0px 0px" >
                    <mj-image  align="center" padding="0px 0px 0px 0px" href="https://www.aldi.es/recetas/pescados-y-mariscos/bacalao-al-pimenton.html?utm_source=newletter&utm_medium=email&utm_campaign=W15%20-%20C%C3%B3mo%20crear%20tus%20huevos%20de%20Pascua%20y%20convertirlos%20en%20macetitas%20%F0%9F%8C%BC." src="http://aldi.ddb.es/comunicacion/newsletter/2020/abril/w15/images/img1.gif"  padding="0px" css-class="imgBug2" width="280px" ></mj-image>
        </mj-column>

        <mj-column width="18px" ></mj-column>

        <mj-column  vertical-align="top" width="280px" padding="0px 0px 0px 0px" >
        
      <mj-text align="left" padding="0px 0px 0px 0px" css-class="txt-img-Big"><p style="margin:20px 0px 0px 0px; color:#000000; font-size:27px; line-height:30px; font-family:'Raleway-Regular', Arial, Helvetica; font-weight: bold;" >Bacalao al pimentón</p></mj-text>

        <mj-text align="left" padding="0px 0px 0px 0px" css-class="txt-img-Big-sub"><p style="margin:15px 0px 0px 0px; color:#000000; font-size:17px; line-height:22px; font-family:'Raleway-Regular', Arial, Helvetica; font-weight: 300;" >Dale un giro inesperado a esta clásica receta, ¡que se note que es Pascua en tu cocina!</p>
        </mj-text>


        <mj-text align="left" padding="0px 0px 0px 0px" css-class="txt-img-Cta"><p style="margin:15px 0px 15px 0px; color:#ffffff; font-size:18px; line-height:40px; font-family:'Raleway-Regular', Arial, Helvetica; font-weight: 300;" ><a href="https://www.aldi.es/recetas/pescados-y-mariscos/bacalao-al-pimenton.html?utm_source=newletter&utm_medium=email&utm_campaign=W15%20-%20C%C3%B3mo%20crear%20tus%20huevos%20de%20Pascua%20y%20convertirlos%20en%20macetitas%20%F0%9F%8C%BC." target="_blank" style="font-size: 17px;font-family: 'Raleway-Regular', Arial, Helvetica; font-weight: bold; color: #111111; text-decoration: undeline; display: inline-block; min-width: 290px; width: 280px; line-height: 20px; ;margin:0 auto;padding:0px 0 0px 0px" title="MIRA LA RECETA"><span  style="font-weight: light; color: #111111;" title="MIRA LA RECETA"><strong style="font-weight: bold; color: #111111;" > MIRA LA RECETA </strong><span style="font-size: 19px;"> &rsaquo; </span></a></p>
        </mj-text>
            </mj-column>
    </mj-section>



<!-- SECCION SKY -->

    <mj-section  background-url="http://aldi.ddb.es/comunicacion/newsletter/2020/abril/w15/images/bgskye.png" css-class="sectionBug" >
       <mj-column width="210px" >
            <mj-image  align="center" padding="20px 0px 20px 0px"  src="http://aldi.ddb.es/comunicacion/newsletter/2020/abril/w15/images/3logo.png"  width="210px" height="70px" css-class="imgBugLogoManualidades"></mj-image>
        </mj-column>
    </mj-section>

<!--  SECTION FONDO AZUL  -->
    <mj-section background-url="http://aldi.ddb.es/comunicacion/newsletter/2020/abril/w15/images/bgskye.png" padding="0px 0px 10px 0px" css-class="sectionBug">

            <mj-column  width="450px" padding="0px 0px 0px 0px">

            <mj-image  align="center" padding="0px 0px 0px 0px" href="https://www.aldi.es/inspirate/manualidades.html?utm_source=newletter&utm_medium=email&utm_campaign=W15%20-%20C%C3%B3mo%20crear%20tus%20huevos%20de%20Pascua%20y%20convertirlos%20en%20macetitas%20%F0%9F%8C%BC." src="http://aldi.ddb.es/comunicacion/newsletter/2020/abril/w15/images/img2.jpg"  padding="0px" css-class="imgBug2" ></mj-image>


            <mj-text align="left" padding="0px 0px 0px 0px" css-class="txt-img-strong"><p style="margin:18px 0px 2px 0px; color:#000000; font-size:22px; line-height:28px; font-family:'Raleway-Regular', Arial, Helvetica; font-weight: bold;" ><strong>Celebra la Pascua más original</strong></p></mj-text>

            <mj-text align="left" padding="0px 0px 0px 0px" css-class="txt-img"><p style="margin:0px 0px 2px 0px; color:#000000; font-size:22px; line-height:25px; font-family:'Raleway-Regular', Arial, Helvetica; font-weight: 300;" >Anímate a crear y decorar tus propios huevos de Pascua.</p>
            </mj-text>

         
        
    </mj-column>

</mj-section>


 <!-- CTA new FULL -->
<mj-section padding="0px 0px 20px 0px" >
    <mj-column>
        <mj-raw>
            <tr>
                <td align="center" vertical-align="middle" style="font-size:0px;padding:10px 0 0px;word-break:break-word;" >
                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:separate;line-height:100%; margin:3px 0px 0px  0px ;"> 
                        <tr class="ctaButtonMobile">
                        <td align="center" bgcolor="#232e7d" width="270" height="55" ><a href="https://www.aldi.es/ofertas/especiales-de-aldi.html?utm_source=newletter&utm_medium=email&utm_campaign=W15%20-%20C%C3%B3mo%20crear%20tus%20huevos%20de%20Pascua%20y%20convertirlos%20en%20macetitas%20%F0%9F%8C%BC." conversion="true" target="_blank" style="font-size: 22px;font-family: Raleway-bold, Arial, sans-serif;font-weight: BOLD; color: #ffffff; text-decoration: none; display: inline-block; min-width: 270px; width: 270px; line-height: 35px;letter-spacing:0.01px;" alias="boton" title="MIRA QUÉ VARIEDAD"><strong style="font-weight: BOLD; color: #ffffff;" title="MIRA QUÉ VARIEDAD"> FULL CTA <span style="font-size: 22px;">&rsaquo;</span> </strong></a>
                        </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </mj-raw>
    </mj-column>
</mj-section>
 <!-- CTA new FULL -->

    <mj-section padding="0px 0px 50px 0px" >


        <mj-column  vertical-align="top" width="280px"  padding="0px 0px 40px 0px" >
         <mj-table css-class="imgBug2Table" >
          <tr style="border:3px solid #0996db;text-align:center;padding:0px 0PX;">
            <th style="padding: 0px   0;"><p class="txt-img-date-new" style="margin:5px 0px; color:#000000; font-size:17px; line-height:33px; font-family:Helvetica, Arial; font-weight: bold;" >DESDE EL <strong style="color: #0996db"> LUNES 06/04 </strong></th>
          </tr>          
        </mj-table>
                    <mj-image  align="center" padding="0px 0px 0px 0px" href="https://www.aldi.es/recetas/pescados-y-mariscos/bacalao-al-pimenton.html?utm_source=newletter&utm_medium=email&utm_campaign=W15%20-%20C%C3%B3mo%20crear%20tus%20huevos%20de%20Pascua%20y%20convertirlos%20en%20macetitas%20%F0%9F%8C%BC." src="http://aldi.ddb.es/comunicacion/newsletter/2020/marzo/w11/images/feat1.jpg"  padding="0px" css-class="imgBug2New" width="280px" ></mj-image>

                    <mj-text align="left" padding="0px 0px 0px 10px" css-class="txt-img-strong"><p style="margin:18px 0px 2px 0px; color:#000000; font-size:22px; line-height:28px; font-family:'Raleway-Regular', Arial, Helvetica; font-weight: bold;" ><strong>Celebra la Pascua más original</strong></p></mj-text>

                     <mj-text align="left" padding="0px 0px 0px 10px" css-class="txt-img"><p style="margin:0px 0px 2px 0px; color:#000000; font-size:22px; line-height:25px; font-family:'Raleway-Regular', Arial, Helvetica; font-weight: 300;" >Anímate a crear y decorar tus propios huevos de Pascua.</p>
            </mj-text>

 <!-- CTA MJ-RAW HACK -->
 <mj-raw>
          <tr>
            <td align="center" vertical-align="middle" style="font-size:0px;padding:10px 0 0px;word-break:break-word;" >
              <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:separate;line-height:100%; margin:3px 0px 0px  0px ;"> 
                <tr class="ctaButtonMobile">
                  <td align="center" bgcolor="#232e7d" width="270" height="55" ><a href="https://www.aldi.es/ofertas/especiales-de-aldi.html?utm_source=newletter&utm_medium=email&utm_campaign=W15%20-%20C%C3%B3mo%20crear%20tus%20huevos%20de%20Pascua%20y%20convertirlos%20en%20macetitas%20%F0%9F%8C%BC." conversion="true" target="_blank" style="font-size: 22px;font-family: Raleway-bold, Arial, sans-serif;font-weight: BOLD; color: #ffffff; text-decoration: none; display: inline-block; min-width: 270px; width: 270px; line-height: 35px;letter-spacing:0.01px;" alias="boton" title="MIRA QUÉ VARIEDAD"><strong style="font-weight: BOLD; color: #ffffff;" title="MIRA QUÉ VARIEDAD"> test  <span style="font-size: 22px;">&rsaquo;</span> </strong></a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </mj-raw>
        </mj-column>

        <mj-column width="10px" ></mj-column>

             <mj-column  vertical-align="top" width="280px"  padding="0px 0px 0px 0px" >

              <mj-table css-class="imgBug2Table" >
          <tr style="border:3px solid #0996db;text-align:center;padding:0px 0PX;">
            <th style="padding: 0px   0;"><p class="txt-img-date-new" style="margin:5px 0px; color:#000000; font-size:17px; line-height:33px; font-family:Helvetica, Arial; font-weight: bold;" >DESDE EL <strong style="color: #0996db"> LUNES 06/04 </strong></th>
          </tr>          
        </mj-table>
                    <mj-image  align="center" padding="0px 0px 0px 0px" href="https://www.aldi.es/recetas/pescados-y-mariscos/bacalao-al-pimenton.html?utm_source=newletter&utm_medium=email&utm_campaign=W15%20-%20C%C3%B3mo%20crear%20tus%20huevos%20de%20Pascua%20y%20convertirlos%20en%20macetitas%20%F0%9F%8C%BC." src="http://aldi.ddb.es/comunicacion/newsletter/2020/marzo/w11/images/feat1.jpg"  padding="0px" css-class="imgBug2New" width="280px" ></mj-image>
        
         <mj-text align="left" padding="0px 0px 0px 0px" css-class="txt-img-strong"><p style="margin:18px 0px 2px 10px; color:#000000; font-size:22px; line-height:28px; font-family:'Raleway-Regular', Arial, Helvetica; font-weight: bold;" ><strong>Celebra la Pascua más original</strong></p></mj-text>

            <mj-text align="left" padding="0px 0px 0px 0px" css-class="txt-img"><p style="margin:0px 0px 2px 10px; color:#000000; font-size:22px; line-height:25px; font-family:'Raleway-Regular', Arial, Helvetica; font-weight: 300;" >Anímate a crear y decorar tus propios huevos de Pascua.</p>
            </mj-text>
      
 <!-- CTA MJ-RAW HACK -->
 <mj-raw>
          <tr>
            <td align="center" vertical-align="middle" style="font-size:0px;padding:10px 0 0px;word-break:break-word;" >
              <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:separate;line-height:100%; margin:3px 0px 0px  0px ;"> 
                <tr class="ctaButtonMobile">
                  <td align="center" bgcolor="#232e7d" width="270" height="55" ><a href="https://www.aldi.es/ofertas/especiales-de-aldi.html?utm_source=newletter&utm_medium=email&utm_campaign=W15%20-%20C%C3%B3mo%20crear%20tus%20huevos%20de%20Pascua%20y%20convertirlos%20en%20macetitas%20%F0%9F%8C%BC." conversion="true" target="_blank" style="font-size: 22px;font-family: Raleway-bold, Arial, sans-serif;font-weight: BOLD; color: #ffffff; text-decoration: none; display: inline-block; min-width: 270px; width: 270px; line-height: 35px;letter-spacing:0.01px;" alias="boton" title="MIRA QUÉ VARIEDAD"><strong style="font-weight: BOLD; color: #ffffff;" title="MIRA QUÉ VARIEDAD"> MIRA QUÉ VARIEDAD <span style="font-size: 22px;">&rsaquo;</span> </strong></a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </mj-raw>

       
            </mj-column>
    </mj-section>




    <mj-section border="3px solid #fdc300" css-class="sectionBug" >
        <mj-column>
            <mj-text align="center" padding="10px 0px" css-class="txt-img-date"><p style="margin:5px 0px; color:#000000; font-size:27px; line-height:33px; font-family:Helvetica, Arial; font-weight: bold;" >DESDE EL <strong style="color: #fdc300"> LUNES 06/04 </strong></mj-text>
            </mj-column>
    </mj-section>


    <mj-section  background-url="http://aldi.ddb.es/comunicacion/newsletter/2020/abril/w15/images/bgyellow.png" css-class="sectionBug">
       <mj-column  width="250px">
           <mj-image  align="center" padding="20px 0px 20px 0px"  src="http://aldi.ddb.es/comunicacion/newsletter/2020/abril/w15/images/2logo.png"  width="250px" height="70px" css-class="imgBugLogoCompraSemanal"></mj-image>
        </mj-column>
    </mj-section>

    <!--  SECTION FONDO AZUL  -->
    <mj-section background-url="http://aldi.ddb.es/comunicacion/newsletter/2020/abril/w15/images/bgyellow.png" padding="0px 0px 40px 0px" css-class="sectionBug">

            <mj-column  width="450px" padding="0px 0px 25px 0px">

            <mj-image  align="center" padding="0px 0px 0px 0px" href="https://www.aldi.es/ofertas/especiales-de-aldi.html?utm_source=newletter&utm_medium=email&utm_campaign=W15%20-%20C%C3%B3mo%20crear%20tus%20huevos%20de%20Pascua%20y%20convertirlos%20en%20macetitas%20%F0%9F%8C%BC." src="http://aldi.ddb.es/comunicacion/newsletter/2020/abril/w15/images/img3.jpg"  padding="0px" css-class="imgBug2" ></mj-image>


            <mj-text align="left" padding="0px 0px 0px 0px" css-class="txt-img-strong"><p style="margin:18px 0px 2px 0px; color:#000000; font-size:22px; line-height:28px; font-family:'Raleway-Regular', Arial, Helvetica; font-weight: bold;" ><strong>Disfruta de un buen picoteo desde tu sofá</strong></p></mj-text>

            <mj-text align="left" padding="0px 0px 0px 0px" css-class="txt-img"><p style="margin:0px 0px 2px 0px; color:#000000; font-size:22px; line-height:25px; font-family:'Raleway-Regular', Arial, Helvetica; font-weight: 300;" >Desde el lunes 06/04.</p>
            </mj-text>


        <!-- CTA MJ-RAW HACK -->
        <mj-raw>
          <tr>
            <td align="center" vertical-align="middle" style="font-size:0px;padding:30px 0 0px;word-break:break-word;" >
              <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:separate;line-height:100%; margin:3px 0px 0px  0px ;"> 
                <tr class="ctaButtonMobile">
                  <td align="center" bgcolor="#232e7d" width="350" height="55" ><a href="https://www.aldi.es/ofertas/especiales-de-aldi.html?utm_source=newletter&utm_medium=email&utm_campaign=W15%20-%20C%C3%B3mo%20crear%20tus%20huevos%20de%20Pascua%20y%20convertirlos%20en%20macetitas%20%F0%9F%8C%BC." conversion="true" target="_blank" style="font-size: 22px;font-family: Raleway-bold, Arial, sans-serif;font-weight: BOLD; color: #ffffff; text-decoration: none; display: inline-block; min-width: 290px; width: 290px; line-height: 35px;letter-spacing:0.01px;" alias="boton" title="MIRA QUÉ VARIEDAD"><strong style="font-weight: BOLD; color: #ffffff;" title="MIRA QUÉ VARIEDAD"> MIRA QUÉ VARIEDAD <span style="font-size: 22px;">&rsaquo;</span> </strong></a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </mj-raw>
        
    </mj-column>

</mj-section>



<!-- SECCION BUE -->

    <mj-section border="3px solid #2890cf" css-class="sectionBug" >
        <mj-column>
            <mj-text align="center" padding="10px 0px" css-class="txt-img-date"><p style="margin:5px 0px; color:#000000; font-size:27px; line-height:33px; font-family:Helvetica, Arial; font-weight: bold;" >DESDE EL <strong style="color: #2890cf">MIÉRCOLES 08/04</strong></mj-text>
            </mj-column>
    </mj-section>


    <mj-section  background-url="http://aldi.ddb.es/comunicacion/newsletter/2020/abril/w15/images/bgblue.png" css-class="sectionBug">
       <mj-column width="250px">
            <mj-image  align="center" padding="20px 0px 20px 0px"  src="http://aldi.ddb.es/comunicacion/newsletter/2020/abril/w15/images/1logo.png"  width="250px" height="70px" css-class="imgBugLogoCompraSemanal"></mj-image>
        </mj-column>
    </mj-section>

<!--  SECTION FONDO AZUL  -->
    <mj-section background-url="http://aldi.ddb.es/comunicacion/newsletter/2020/abril/w15/images/bgblue.png" padding="0px 0px 40px 0px" css-class="sectionBug">

            <mj-column  width="450px" padding="0px 0px 25px 0px">

            <mj-image  align="center" padding="0px 0px 0px 0px" href="https://www.aldi.es/ofertas/ofertas-frescos-miercoles.html?utm_source=newletter&utm_medium=email&utm_campaign=W15%20-%20C%C3%B3mo%20crear%20tus%20huevos%20de%20Pascua%20y%20convertirlos%20en%20macetitas%20%F0%9F%8C%BC." src="http://aldi.ddb.es/comunicacion/newsletter/2020/abril/w15/images/img4.jpg"  padding="0px" css-class="imgBug2" ></mj-image>


            <mj-text align="left" padding="0px 0px 0px 0px" css-class="txt-img-strong"><p style="margin:18px 0px 2px 0px; color:#000000; font-size:22px; line-height:28px; font-family:'Raleway-Regular', Arial, Helvetica; font-weight: bold;" ><strong>Fresas</strong></p></mj-text>

            <mj-text align="left" padding="0px 0px 0px 0px" css-class="txt-img"><p style="margin:0px 0px 2px 0px; color:#000000; font-size:22px; line-height:25px; font-family:'Raleway-Regular', Arial, Helvetica; font-weight: 300;" >De origen nacional</p>
            </mj-text>

        <mj-text align="left" padding="0px 0px 0px 0px" css-class="txt-img-last">
         <p style="margin:0px 0px 10px 0px; color:#000000; font-size:22px; line-height:25px; font-family:'Raleway-Regular', Arial, Helvetica; font-weight: 300;" >Precios válidos del 08/04 al 14/04.</p>
        </mj-text>

<!-- CTA MJ-RAW HACK -->
        <mj-raw>
          <tr>
            <td align="center" vertical-align="middle" style="font-size:0px;padding:30px 0 0px;word-break:break-word;" >
              <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:separate;line-height:100%; margin:3px 0px 0px  0px ;"> 
                <tr class="ctaButtonMobile">
                  <td align="center" bgcolor="#232e7d" width="350" height="55" ><a href="https://www.aldi.es/ofertas/ofertas-frescos-miercoles.html?utm_source=newletter&utm_medium=email&utm_campaign=W15%20-%20C%C3%B3mo%20crear%20tus%20huevos%20de%20Pascua%20y%20convertirlos%20en%20macetitas%20%F0%9F%8C%BC." conversion="true" target="_blank" style="font-size: 22px;font-family: Raleway-bold, Arial, sans-serif;font-weight: BOLD; color: #ffffff; text-decoration: none; display: inline-block; min-width: 290px; width: 290px; line-height: 35px;letter-spacing:0.01px;" alias="boton" title="MIRA QUÉ VARIEDAD"><strong style="font-weight: BOLD; color: #ffffff;" title="MIRA QUÉ VARIEDAD"> MIRA MÁS OFERTAS  <span style="font-size: 22px;">&rsaquo;</span> </strong></a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </mj-raw>
        
    </mj-column>

</mj-section>


  <mj-section padding="0px 0px 50px 0px" direction="rtl">


        <mj-column  vertical-align="top" width="280px"  padding="0px 0px 0px 0px" >
                    <mj-image  align="center" padding="0px 0px 0px 0px" href="https://www.aldi.es/conocenos/sala-prensa/nuestras-noticias/aldi-y-el-comite-paralimpico-espanol-firman-un-acuerdo-de-patrocinio-vinculado-a-la-nutricion.html?utm_source=newletter&utm_medium=email&utm_campaign=W15%20-%20C%C3%B3mo%20crear%20tus%20huevos%20de%20Pascua%20y%20convertirlos%20en%20macetitas%20%F0%9F%8C%BC." src="http://aldi.ddb.es/comunicacion/newsletter/2020/abril/w15/images/img5.jpg"  padding="0px" css-class="imgBug2" width="500px" ></mj-image>
        </mj-column>

        <mj-column width="18px" ></mj-column>

        <mj-column  vertical-align="top" width="280px" padding="10px 0px 0px 0px" >

        <mj-text align="left" padding="0px 0px 0px 0px" css-class="txt-img-Big"><p style="margin:20px 0px 0px 0px; color:#000000; font-size:27px; line-height:30px; font-family:'Raleway-Regular', Arial, Helvetica; font-weight: bold;" >Devora tus metas</p></mj-text>

        <mj-text align="left" padding="0px 0px 0px 0px" css-class="txt-img-Big-sub"><p style="margin:15px 0px 0px 0px; color:#000000; font-size:17px; line-height:22px; font-family:'Raleway-Regular', Arial, Helvetica; font-weight: 300;" >Estrenamos patrocinio con el Comité Paralímpico Español para apoyar a los deportistas desde la nutrición y ayudar a mejorar su rendimiento al máximo.</p>
        </mj-text>


        <mj-text align="left" padding="0px 0px 0px 0px" css-class="txt-img-Cta"><p style="margin:15px 0px 15px 0px; color:#ffffff; font-size:18px; line-height:40px; font-family:'Raleway-Regular', Arial, Helvetica; font-weight: 300;" ><a href="https://www.aldi.es/conocenos/sala-prensa/nuestras-noticias/aldi-y-el-comite-paralimpico-espanol-firman-un-acuerdo-de-patrocinio-vinculado-a-la-nutricion.html?utm_source=newletter&utm_medium=email&utm_campaign=W15%20-%20C%C3%B3mo%20crear%20tus%20huevos%20de%20Pascua%20y%20convertirlos%20en%20macetitas%20%F0%9F%8C%BC." target="_blank" style="font-size: 17px;font-family: 'Raleway-Regular', Arial, Helvetica; font-weight: bold; color: #111111; text-decoration: undeline; display: inline-block; min-width: 290px; width: 290px; line-height: 20px; ;margin:0 auto;padding:0px 0 0px 0px" title="DESCUBRE MÁS"><span  style="font-weight: light; color: #111111;" title="DESCUBRE MÁS"><strong style="font-weight: bold; color: #111111;" > DESCUBRE MÁS </strong><span style="font-size: 19px;"> &rsaquo; </span></a></p>
        </mj-text>

            </mj-column>
    </mj-section>


      <mj-section padding="0px 0px 50px 0px" >


        <mj-column  vertical-align="top" width="280px"  padding="0px 0px 0px 0px" >
                    <mj-image  align="center" padding="0px 0px 0px 0px" href="https://www.aldi.es/folleto.html?utm_source=newletter&utm_medium=email&utm_campaign=W15%20-%20C%C3%B3mo%20crear%20tus%20huevos%20de%20Pascua%20y%20convertirlos%20en%20macetitas%20%F0%9F%8C%BC." src="http://aldi.ddb.es/comunicacion/newsletter/2020/abril/w15/images/img6.jpg"  padding="0px" css-class="imgBug2" width="500px" ></mj-image>
        </mj-column>

        <mj-column width="18px" ></mj-column>

        <mj-column  vertical-align="top" width="280px" padding="0px 0px 0px 0px" >
      <mj-text align="left" padding="0px 0px 0px 0px" css-class="txt-img-Big"><p style="margin:20px 0px 0px 0px; color:#000000; font-size:27px; line-height:30px; font-family:'Raleway-Regular', Arial, Helvetica; font-weight: bold;" >Descubre el folleto<BR>de esta semana</p></mj-text>



        <mj-text align="left" padding="0px 0px 0px 0px" css-class="txt-img-Cta"><p style="margin:15px 0px 15px 0px; color:#ffffff; font-size:17px; line-height:40px; font-family:'Raleway-Regular', Arial, Helvetica; font-weight: 300;" ><a href="https://www.aldi.es/folleto.html?utm_source=newletter&utm_medium=email&utm_campaign=W15%20-%20C%C3%B3mo%20crear%20tus%20huevos%20de%20Pascua%20y%20convertirlos%20en%20macetitas%20%F0%9F%8C%BC." target="_blank" style="font-size: 17px;font-family: 'Raleway-Regular', Arial, Helvetica; font-weight: bold; color: #111111; text-decoration: undeline; display: inline-block; min-width: 290px; width: 290px; line-height: 20px; ;margin:0 auto;padding:0px 0 0px 0px" title="MIRA EL FOLLETO"><span  style="font-weight: light; color: #111111;" title="MIRA EL FOLLETO"><strong style="font-weight: bold; color: #111111;" > MIRA EL FOLLETO </strong><span style="font-size: 19px;"> &rsaquo; </span></a></p>
        </mj-text>

            </mj-column>
    </mj-section>




<mj-section padding="30px 0px 0px 0px" background-color="#f7f7f7"> 
        <mj-column  >
            <mj-text align="center" font-size="15px"  line-height="22px" font-family="'Raleway-Regular', Arial, Helvetica,sans-serif;" font-weight="300" color="#000000"><p class="darkColor-white">Lo que vale mucho cuesta muy poco</p></mj-text>
        </mj-column>
</mj-section>


<mj-section background-color="#f7f7f7">
      <mj-group width="500px" css-class="social-ico-bug"> 
   
       <mj-column css-class="social-div">
         
        </mj-column>
        <mj-column css-class="social-div">
         
        </mj-column>
        <mj-column css-class="social-div"> 
         
        </mj-column>
        <mj-column css-class="social-div"> 
          <mj-image width="30px" padding="0" href="https://www.facebook.com/AldiSupermercados.es?utm_source=newletter&utm_medium=email&utm_campaign=W15%20-%20C%C3%B3mo%20crear%20tus%20huevos%20de%20Pascua%20y%20convertirlos%20en%20macetitas%20%F0%9F%8C%BC." src="http://aldi.ddb.es/comunicacion/newsletter/2020/abril/w15/images/fb.png" css-class="imgBugSocial"/>
        </mj-column>

        <mj-column css-class="social-div">
         <mj-image width="30px" padding="0" href="https://twitter.com/aldi_es??utm_source=newletter&utm_medium=email&utm_campaign=W15%20-%20C%C3%B3mo%20crear%20tus%20huevos%20de%20Pascua%20y%20convertirlos%20en%20macetitas%20%F0%9F%8C%BC." src="http://aldi.ddb.es/comunicacion/newsletter/2020/abril/w15/images/tw.png" css-class="imgBugSocial"/>
          
        </mj-column>

        <mj-column css-class="social-div">
         <mj-image width="30px" padding="0" href="https://www.instagram.com/aldi.es/?utm_source=newletter&utm_medium=email&utm_campaign=W15%20-%20C%C3%B3mo%20crear%20tus%20huevos%20de%20Pascua%20y%20convertirlos%20en%20macetitas%20%F0%9F%8C%BC." target="_blank" src="http://aldi.ddb.es/comunicacion/newsletter/2020/abril/w15/images/inst.png" css-class="imgBugSocial"/>
        </mj-column>

        <mj-column css-class="social-div">
         <mj-image width="30px" padding="0" href="https://www.youtube.com/channel/UCqJCzG9bO3EFFkXiC3WusZw?utm_source=newletter&utm_medium=email&utm_campaign=W15%20-%20C%C3%B3mo%20crear%20tus%20huevos%20de%20Pascua%20y%20convertirlos%20en%20macetitas%20%F0%9F%8C%BC." target="_blank" src="http://aldi.ddb.es/comunicacion/newsletter/2020/abril/w15/images/yt.png"  css-class="imgBugSocial"/>
          
        </mj-column>
        <mj-column css-class="social-div">
         <mj-image width="30px" padding="0" href="https://www.pinterest.es/Aldi_Es/?utm_source=newletter&utm_medium=email&utm_campaign=W15%20-%20C%C3%B3mo%20crear%20tus%20huevos%20de%20Pascua%20y%20convertirlos%20en%20macetitas%20%F0%9F%8C%BC." target="_blank" src="http://aldi.ddb.es/comunicacion/newsletter/2020/abril/w15/images/pi.png"  css-class="imgBugSocial"/>
          
        </mj-column>
      <mj-column css-class="social-div">
         
        </mj-column>
        <mj-column css-class="social-div">
         
        </mj-column>
         <mj-column css-class="social-div">
         
        </mj-column>
 
        
       
         
      </mj-group>
    </mj-section>

    <mj-section padding="30px 0px 0px 0px" background-color="#f7f7f7"> 
        <mj-column  >
            <mj-text align="center" font-size="15px"  line-height="22px" font-family="'Raleway-Regular', Arial, Helvetica,sans-serif;" font-weight="300" color="#000000"><p class="darkColor-white"></p></mj-text>
        </mj-column>
</mj-section>

<!-- SECCION BUE 

<mj-section background-color="#f7f7f7" padding="0px 0px 40px 0px"> 
        <mj-column css-class="darkmode-social" >

        <mj-social font-size="18px" icon-size="30px" mode="horizontal" padding="0px 0px 15px 0px" >
                <mj-social-element name="facebookAldi" padding="0px 7px 0px 0px" href="https://www.facebook.com/AldiSupermercados.es?utm_source=newletter&utm_medium=email&utm_campaign=W15%20-%20C%C3%B3mo%20crear%20tus%20huevos%20de%20Pascua%20y%20convertirlos%20en%20macetitas%20%F0%9F%8C%BC." src="http://aldi.ddb.es/comunicacion/newsletter/2020/abril/w15/images/fb.png" alt="fb">
                </mj-social-element>
                <mj-social-element name="googleAldi" padding="0px 7px 0px 0px" href="https://twitter.com/aldi_es??utm_source=newletter&utm_medium=email&utm_campaign=W15%20-%20C%C3%B3mo%20crear%20tus%20huevos%20de%20Pascua%20y%20convertirlos%20en%20macetitas%20%F0%9F%8C%BC." src="http://aldi.ddb.es/comunicacion/newsletter/2020/abril/w15/images/tw.png" alt="tw">
                </mj-social-element>
                <mj-social-element name="instagramAldi" padding="0px 7px 0px 0px" href="https://www.instagram.com/aldi.es/?utm_source=newletter&utm_medium=email&utm_campaign=W15%20-%20C%C3%B3mo%20crear%20tus%20huevos%20de%20Pascua%20y%20convertirlos%20en%20macetitas%20%F0%9F%8C%BC." target="_blank" src="http://aldi.ddb.es/comunicacion/newsletter/2020/abril/w15/images/inst.png" >
                </mj-social-element>
                <mj-social-element name="youtubeAldi" padding="0px 7px 0px 0px" href="https://www.youtube.com/channel/UCqJCzG9bO3EFFkXiC3WusZw?utm_source=newletter&utm_medium=email&utm_campaign=W15%20-%20C%C3%B3mo%20crear%20tus%20huevos%20de%20Pascua%20y%20convertirlos%20en%20macetitas%20%F0%9F%8C%BC." target="_blank" src="http://aldi.ddb.es/comunicacion/newsletter/2020/abril/w15/images/yt.png" alt="yt">
                </mj-social-element>
                <mj-social-element name="pinteresaldi" padding="0px 7px 0px 0px" href="https://www.pinterest.es/Aldi_Es/?utm_source=newletter&utm_medium=email&utm_campaign=W15%20-%20C%C3%B3mo%20crear%20tus%20huevos%20de%20Pascua%20y%20convertirlos%20en%20macetitas%20%F0%9F%8C%BC." target="_blank" src="http://aldi.ddb.es/comunicacion/newsletter/2020/abril/w15/images/pi.png" alt="pi">
                </mj-social-element>
            </mj-social>
            
        </mj-column>
    </mj-section>

-->
    <mj-section padding="30px 0px 40px" css-class="section-social"  >
        <mj-group vertical-align="middle" css-class="section-social-group"  >
            <mj-column width="45%" css-class="darkmode-social">
                <mj-image src="http://aldi.ddb.es/comunicacion/newsletter/2020/abril/w15/images/encuentratienda.png" alt="encuentra tu tienda" align="left" border="none" href="https://www.aldi.es/supermercados/encuentra-tu-supermercado.html?utm_source=newletter&utm_medium=email&utm_campaign=W15%20-%20C%C3%B3mo%20crear%20tus%20huevos%20de%20Pascua%20y%20convertirlos%20en%20macetitas%20%F0%9F%8C%BC." width="180px" alt="Encuentra tienda"></mj-image>
            </mj-column>
            <mj-column width="47%" css-class="darkmode-social">
                <mj-image src="http://aldi.ddb.es/comunicacion/newsletter/2020/abril/w15/images/contigo.png" alt="contigo Aldi" align="right" border="none" href="https://www.aldi.es/contigo-aldi?utm_source=newletter&utm_medium=email&utm_campaign=W15%20-%20C%C3%B3mo%20crear%20tus%20huevos%20de%20Pascua%20y%20convertirlos%20en%20macetitas%20%F0%9F%8C%BC." width="120px" css-class="imgFooter" alt="contigo"></mj-image>
                <mj-image src="http://aldi.ddb.es/comunicacion/newsletter/2020/abril/w15/images/servei.png" alt="contigo Aldi" align="right" border="none" href="tel:900902466?utm_source=newletter&utm_medium=email&utm_campaign=W15%20-%20C%C3%B3mo%20crear%20tus%20huevos%20de%20Pascua%20y%20convertirlos%20en%20macetitas%20%F0%9F%8C%BC." width="120px" css-class="imgFooter" alt="contigo tel"></mj-image>
        <mj-image src="http://aldi.ddb.es/comunicacion/newsletter/2020/abril/w15/images/contigoemail.png" alt="contigo Aldi" align="right" border="none" href="mailto:contigo@aldi.es?utm_source=newletter&utm_medium=email&utm_campaign=W15%20-%20C%C3%B3mo%20crear%20tus%20huevos%20de%20Pascua%20y%20convertirlos%20en%20macetitas%20%F0%9F%8C%BC." width="120px" css-class="imgFooter" alt="contigo email"></mj-image>
            </mj-column>
        </mj-group>
    </mj-section>

    <mj-section   >
        <mj-column >
            <mj-text align="center" padding="0 10px" >
                 <p style="margin:0; padding-bottom:7px; font-size:11px; line-height:12px; margin-bottom:10px; color:#111111; font-family: Arial, Helvetica, sans-serif;" class="darkColor-black">* Precios válidos del 06  al 14 de abril de 2020.</p>
                <p style="margin:0; padding-bottom:7px; font-size:10px; line-height:12px; margin-bottom:10px; color:#111111; font-family: Arial, Helvetica, sans-serif;" class="darkColor-black">¡Añádenos a tu lista de contactos! Así te asegurarás de recibir nuestra newsletter en tu bandeja de entrada principal. </p>
                <p style="margin:0; padding-bottom:10px; font-size:10px; line-height:14px; margin-bottom:10px; color:#111111; font-family: Arial, Helvetica, sans-serif;" class="darkColor-black">En cumplimiento de lo establecido por los nuevos requisitos del Reglamento General de la Protección de Datos de la UE (GDPR) de Protección de Datos de Carácter Personal, le informamos que los datos personales contenidos en esta comunicación forman parte del fichero de contactos propiedad de ALDI Supermercados S.L. cuya finalidad es la de mantener con usted relaciones comerciales y/o profesionales, lo que usted consintió y aceptó. En todo caso podrá ejercer los derechos de acceso, rectificación, oposición, limitación del tratamiento, portabilidad y cancelación dirigiéndose a ALDI por correo electrónico a través de <a href="mailto:protecciondatos@aldi.es?utm_source=newletter&utm_medium=email&utm_campaign=W15%20-%20C%C3%B3mo%20crear%20tus%20huevos%20de%20Pascua%20y%20convertirlos%20en%20macetitas%20%F0%9F%8C%BC." style="color:#111111; text-decoration:none;">protecciondatos@aldi.es</a> indicando el asunto GDPR.</p>
            </mj-text>
            <mj-text align="center" padding="0 10px" css-class="contact-footer">                  
                <p style="margin:0; padding-bottom:10px; font-size:11px; line-height:15px; margin-bottom:10px; color:#111111; font-family: Arial, Helvetica, sans-serif;">
                    <a href="https://www.aldi.es/servicios/apuntate-nuestra-newsletter/baja-de-la-newsletter.html?utm_source=newletter&utm_medium=email&utm_campaign=W15%20-%20C%C3%B3mo%20crear%20tus%20huevos%20de%20Pascua%20y%20convertirlos%20en%20macetitas%20%F0%9F%8C%BC." style="color:#008bcf; text-decoration:none;" >Baja de la newsletter</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                    <a href="https://www.aldi.es/supermercados/encuentra-tu-supermercado.html?utm_source=newletter&utm_medium=email&utm_campaign=W15%20-%20C%C3%B3mo%20crear%20tus%20huevos%20de%20Pascua%20y%20convertirlos%20en%20macetitas%20%F0%9F%8C%BC." style="color:#008bcf; text-decoration:none;">Tiendas ALDI</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                    <a href="[linktocontent]" style="color:#008bcf; text-decoration:none;">Ver en navegador</a>
                </p>
        </mj-text>
            
        </mj-column>
    </mj-section>

    </mj-body>
</mjml>