<mjml>
    <mj-head>
    <mj-title>🍗 Prueba nuestras carnes de origen nacional al mejor precio. ⬇️</mj-title>
    <mj-style inline="inline">
    .show_on_mobile, 
    .show_on_mobile-outlook { 
       mso-hide: all !important; 
       display:none !important;
    } 

    .link-nostyle {
        color: inherit;
        text-decoration: underline;
    }

    .spacer-mobile {
        margin-top:10px !important;
    }

    .spacer-mobile-box {
        margin-top:30px !important;
    }

    .spacer-mobile-box-new {
        margin-top:10px !important;
    }

    .spacer-mobile-novedades {
        margin-top:40px !important;
    }

    .spacer-mobile-novedades_box {
            margin-top:0px !important;
    }
       
    @media only screen and (max-width: 585px) { 
      
        .show_on_desktop {
            display:none !important;
        } 

        .wrapper-mobileset{	
            margin: auto 0px !important;
         } 

        .mobileTxtPadding {
            padding: 0px !important;
         }
         
        .padding-mobile-cta {
            padding-bottom:30px;
        }
        
    }

</mj-style>
<mj-style>

      @font-face {
          font-family: 'Raleway-bold', Arial, Helvetica;
              src: url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-Bold_eot.dat');
              src: url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-Bold_ttf.dat') format('truetype'),
                  url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-Bold_eot?#iefix.dat') format('embedded-opentype'),
                  url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-Bold_woff2.dat') format('woff2'),
                  url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-Bold_woff.dat') format('woff');
          font-weight: bold;
          font-style: normal;
    }
  
        
    @font-face {
        font-family: 'Raleway-ExtraBold', Arial, Helvetica;
            src: url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-ExtraBold_eot.dat');
            src: url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-ExtraBold_ttf.dat') format('truetype'),
                url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-ExtraBold?#iefix.dat') format('embedded-opentype'),
                 url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-ExtraBold_woff2.dat') format('woff2'),
                url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-ExtraBold_woff.dat') format('woff');
         font-weight: 900;
         font-style: normal;
    }

        
    @font-face {
        font-family: 'Raleway-Regular', Arial, Helvetica;
                src: url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-Regular_eot.dat');
                src: url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-Regular_ttf.dat') format('truetype'),
                    url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-Regular?#iefix.dat') format('embedded-opentype'),
                     url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-Regular_woff2.dat') format('woff2'),
                    url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-Regular_woff.dat') format('woff');   
        font-weight: 300;
        font-style: normal;
    }
        
   
    @font-face {
      font-family: 'Raleway-Medium', Arial, Helvetica;
                src: url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-Medium_eot.dat');
                src: url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-Medium_ttf.dat') format('truetype'),
                    url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-Medium?#iefix.dat') format('embedded-opentype'),
                    url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-Medium_woff2.dat') format('woff2'),
                    url('https://services.serving-sys.com/custprojassets/prd/features/feeds/1533/Raleway-Medium_woff.dat') format('woff');
         font-weight: 500;
         font-style: normal;
   }


* {
 -ms-text-size-adjust: 100%;
 -webkit-text-size-adjust: 100%;
}
 
a[x-apple-data-detectors] {
     color: inherit !important;
     text-decoration: none !important;
     font-size: inherit !important;
     font-family: inherit !important;
     font-weight: inherit !important;
     line-height: inherit !important;
}

.yshortcuts a {
     border-bottom: none !important;
}   

@media screen yahoo {
    * {
         overflow: visible!important
      }
      .y-overflow-hidden {
            overflow: hidden!important
      }
 }

 .block-break {
     display:none;
 }
 
@media only screen and (max-width: 585px) { 

    img.bugLines {
        width:100% !important;
        height:auto !important;
    }

    u ~ div .full-wrap {min-width: 100vw;}
    div > u ~ div .full-wrap {min-width: 100%;}
  
  	.show_on_desktop {
        display:none !important;
    } 

    .show_on_mobile, 
    .show_on_mobile-outlook {
        display:block!important;
    } 
      
    .wrapper-mobileset{
        background-color: #ffffff !important;
        outline:20px solid #ffffff;
        box-sizing: border-box;
        border-left: 4px solid #ffffff;
        border-right: 4px solid #ffffff;
        margin: auto 0px !important;
    }

    .header-logo {
      display: block !important;
     float:right;
     padding-right:10px !important;
     width:25%;
     
    }

    .mobileTxt div {
        font-size: 14px !important;
        line-height: 19px !important;
    }

    .spacer-mobile {
        margin-top:5px !important;
        margin-bottom: 5px !important;
    }
  
    .contact-footer a {
 	      font-size: 10px !important;
    }  

    .mobileTxtPadding {
       padding: 0px;
    }

    .padding-mobile-cta {
        padding-bottom:30px;
    }


    .block-break {
        display:block   ;
    }
    
    .section-social-group {
      text-align: center;
    }

    .spacer-mobile-box {
        margin: 0px !important;
        padding: 0px !important;
    }

    .spacer-mobile-box td{
        margin: 0px !important;
        padding: 0px !important;
    }

    .spacer-mobile-box-new {
        margin: 0px 0 40px 0 !important;
        padding: 0px !important;
    }

    .spacer-mobile-box-new td{
         margin: 0px 0 30px 0  !important;
        padding: 0px !important;
    }

     p.mobile-txt {
         font-size: 15px !important;
         line-height: 17px !important;
     }

     p.mobile-txt-header {
         font-size: 20px !important;
         line-height: 22px !important;
     }

     p.mobile-txt-headerFeatured {
        font-size: 20px !important;
        line-height: 22px !important;
        padding: 0 !important;
        margin: 0px   !important;
     }
     .padding-block {
         margin: 0px 0 40px 0 !important;
     }

     .padding-block-img{
          margin: 0px 0 5px 0 !important;
     }
}
                                                                                                           
</mj-style>
<mj-breakpoint width="585px" />
<mj-attributes>
    <mj-all font-family="Helvetica, Arial, sans-serif" padding="0px"></mj-all>
    <mj-text font-weight="400" font-size="14px" color="#000000" line-height="21px"></mj-text>
    <mj-class name="btn-base" font-size="12px" line-height="10px" />
</mj-attributes>

<mj-preview>Y descubre nuevos #ALDItrucos para que tus vegetales duren un montón.</mj-preview>

</mj-head>

<mj-body background-color="#ffffff" css-class="wrapper-mobileset full-wrap">

    <mj-section padding-bottom="10px" padding-top="10px" padding-left="7px" padding-right="7px" text-align="center" vertical-align="top" padding="10px 7px" background-color="#e4e4e4">
        <mj-column>
            <mj-text align="center" font-size="9px" letter-spacing="1px" line-height="20px" font-family="Arial, sans-serif" font-weight="normal" color="#808890">Si no ves correctamente este email haz clic, <a href="[linktocontent]" color="#000000" class="link-nostyle" line-height="10px">aquí</a></mj-text>
        </mj-column>
    </mj-section>

    <mj-section background-color="#ffffff">
        <mj-column>
            <mj-image padding="15px 30px 15px 0px" width="60px" align="right" src="http://aldi.ddb.es/comunicacion/newsletter/2020/febrero/w10/images/logo.jpg" href="https://www.aldi.es?utm_source=newletter&utm_medium=email&utm_campaign=W10%20-%20%F0%9F%8E%89Vuelve%20nuestro%20robot%20de%20cocina%20que%20lo%20hace%20todo.%20%F0%9F%8E%89"  css-class="header-logo"></mj-image>
        </mj-column>
    </mj-section>

    <mj-section> 
        <mj-column width="100%">
            <mj-image src="http://aldi.ddb.es/comunicacion/newsletter/2020/febrero/w10/images/cabecera@2.jpg" href="https://www.aldi.es/ofertas/ofertas-semana-frescos.html?utm_source=newletter&utm_medium=email&utm_campaign=W10%20-%20%F0%9F%8E%89Vuelve%20nuestro%20robot%20de%20cocina%20que%20lo%20hace%20todo.%20%F0%9F%8E%89" alt="" padding="0px"></mj-image>
        </mj-column>
    </mj-section>

    <!--  SECTION FONDO TRANSPARENTE  -->
    <mj-section padding="50px 0px 20px 0px" >

        <mj-column width="0px" ></mj-column>

        <mj-column  vertical-align="top" width="260px"  padding="0px 0px 0px 0px" >
             <mj-image align="center" padding="0px 0px 0px 0px" alt="" href="https://www.aldi.es/inspirate/trucos.html?utm_source=newletter&utm_medium=email&utm_campaign=W10%20-%20%F0%9F%8E%89Vuelve%20nuestro%20robot%20de%20cocina%20que%20lo%20hace%20todo.%20%F0%9F%8E%89" target="_blank" src="http://aldi.ddb.es/comunicacion/newsletter/2020/febrero/w10/images/imgoferta1.gif"  padding="0px" width="260px" height="208px" ></mj-image>

            <mj-spacer height="5px" ></mj-spacer>
            <mj-spacer height="20px"></mj-spacer>
        </mj-column>
        <mj-column width="15px" ></mj-column>
        <mj-column  vertical-align="top" width="260px" padding="0px 0px 0px 0px" >

        <!--  TXT COPY 1   -->
        <mj-raw>
        <tr>
            <td align="center" vertical-align="middle" style="font-size:0px;padding:0px;word-break:break-word;">
                <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:separate;line-height:100%;">
                    <tr>
                        <td align="left"  width="260px" >
                            <p style="margin: 40px 0 0 0; color:#000000; font-size:25px; line-height:25px; font-family:'Helvetica', Arial, sans-serif; font-weight: bold;" class="mobile-txt-headerFeatured">Aprende a conservar mejor los alimentos </p>
                            
                            <p style="margin: 10px 0; color:#000000; font-size:12px; line-height:15px; font-family:'Raleway-Regular', Arial, Helvetica; font-weight: 300;" >Esta semana te traemos nuevos #ALDItrucos para que tus vegetales duren más. </p>

                            <a href="https://www.aldi.es/inspirate/trucos.html?utm_source=newletter&utm_medium=email&utm_campaign=W10%20-%20%F0%9F%8E%89Vuelve%20nuestro%20robot%20de%20cocina%20que%20lo%20hace%20todo.%20%F0%9F%8E%89" target="_blank" style="font-size: 15px;font-family: 'Raleway-Regular', Arial, Helvetica; font-weight: bold; color: #000000; text-decoration: underline; display: inline-block; min-width: 230pxpx; width: 230px; line-height: 35px;" title=""><span  style="font-weight: light; color: #000000;" title=""><strong style="font-weight: bold; color: #000000;" > MIRA LOS #ALDItrucos </strong><span style="font-size: 16px;">&rsaquo;</span></a>
                    </td>
                    </tr>
                </table>
            </td>
        </tr>
        </mj-raw>
    </mj-section>



    <mj-section background-color="#f5e5b9" >
        <mj-column>
            <mj-image  align="center" padding="20px 0px 10px 0px"  src="http://aldi.ddb.es/comunicacion/newsletter/2020/febrero/w10/images/1logo.png"  width="107px" height="40px"></mj-image>
        </mj-column>
    </mj-section>


    <mj-section background-url="http://aldi.ddb.es/comunicacion/newsletter/2020/febrero/w10/images/bgyellow.png"  >

        <mj-column width="0px" ></mj-column>

        <mj-column  vertical-align="top" width="260px"  padding="0px 0px 35px 0px" >
            <mj-image  align="center" padding="0px 0px 0px 0px"  href="https://www.aldi.es/ofertas/promo-miercoles-expres.html?utm_source=newletter&utm_medium=email&utm_campaign=W10%20-%20%F0%9F%8E%89Vuelve%20nuestro%20robot%20de%20cocina%20que%20lo%20hace%20todo.%20%F0%9F%8E%89" src="http://aldi.ddb.es/comunicacion/newsletter/2020/febrero/w10/images/featured1.gif"  padding="0px" width="260px" height="218px" ></mj-image>

        <!-- TXT YELLOW 1  -->
        <mj-raw>
        <tr>
            <td align="center" vertical-align="middle" style="font-size:0px;padding:0 0 0px 0px;word-break:break-word;">
                <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:separate;line-height:100%;">
                    <tr>
                        <td align="left"  width="260px" >
                        <p style="margin:10px 0px 0px 0px; color:#000000; font-size:16px; line-height:17px; font-family:'Raleway-Regular', Arial, Helvetica; font-weight: 300;" class="mobile-txt-titulo"><strong>Robot de cocina</strong></p>

                        <p style="margin:0px 0px 5px 0px; color:#000000; font-size:12px; line-height:15px; font-family:'Raleway-Regular', Arial, Helvetica; font-weight: 300;padding:0 10px 0 0"  class="mobile-txt-parafro">Desde el miércoles 04/03.</p>
                            
                        <p style="margin:0px 0px 10px 0px; color:#000000; font-size:13px; line-height:17px; font-family:'Raleway-Regular', Arial, Helvetica; font-weight: 300;padding:0 20px 0 0"  class="mobile-txt-parafro"> Vuelve el robot que <strong>lo hace todo con app incluida.</strong></p>
                            
                        <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:separate;line-height:100%;">
                            <tr>
                            <td align="center" bgcolor="#f0a900" width="260" height="35"><a href="https://www.aldi.es/ofertas/promo-miercoles-expres.html?utm_source=newletter&utm_medium=email&utm_campaign=W10%20-%20%F0%9F%8E%89Vuelve%20nuestro%20robot%20de%20cocina%20que%20lo%20hace%20todo.%20%F0%9F%8E%89" target="_blank" style="font-size: 13px;font-family: 'Raleway-bold', Arial, Helvetica; font-weight: bold; color: #FFFFFF; text-decoration: none; display: inline-block; min-width: 260px; width: 260px; line-height: 35px;" title=""><strong style="font-weight: BOLD; color: #ffffff;" > COCINA COMO UN CHEF <span style="font-size: 16px;">&rsaquo;</span></strong></a>
                        </td>
                        </tr>
                    </table>
                    </td>
                    </tr>
                </table>
            </td>
        </tr>
        </mj-raw>
        <!--CTA MJ-RAW HACK -->
            
        </mj-column>
        <mj-column width="5px" ></mj-column>
        <mj-column  vertical-align="top" width="260px"  padding="0px 0px 5px 0px" >
            <mj-image  align="center" padding="0px 0px 0px 0px"  href="https://www.aldi.es/ofertas/promo-sabado-expres.html?utm_source=newletter&utm_medium=email&utm_campaign=W10%20-%20%F0%9F%8E%89Vuelve%20nuestro%20robot%20de%20cocina%20que%20lo%20hace%20todo.%20%F0%9F%8E%89" src="http://aldi.ddb.es/comunicacion/newsletter/2020/febrero/w10/images/featured2.jpg"  padding="0px"  width="260px" height="218px" ></mj-image>
        <mj-raw>
        <tr>
            <td align="center" vertical-align="middle" style="font-size:0px;padding:0 0 0px 0px;word-break:break-word;">
                <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:separate;line-height:100%;">
                    <tr>
                        <td align="left"  width="260px" >
                           <p style="margin:10px 0px 0px 0px; color:#000000; font-size:16px; line-height:17px; font-family:'Raleway-Regular', Arial, Helvetica; font-weight: 300;" class="mobile-txt-titulo"><strong>Maleta de cabina</strong></p>

                            <p style="margin:0px 0px 5px 0px; color:#000000; font-size:12px; line-height:15px; font-family:'Raleway-Regular', Arial, Helvetica; font-weight: 300;padding:0 10px 0 0"  class="mobile-txt-parafro">Desde el sábado 07/03.</p>

                            <p style="margin:0px 0px 10px 0px; color:#000000; font-size:13px; line-height:17px; font-family:'Raleway-Regular', Arial, Helvetica; font-weight: 300;padding:0 30px 0 0"  class="mobile-txt-parafro"><strong>Con cierre TSA y cuatro ruedas de giro 360º.</strong></p>
                            
                            <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:separate;line-height:100%;">
                            <tr>
                            <td align="center" bgcolor="#f0a900" width="260" height="35"><a href="https://www.aldi.es/ofertas/promo-sabado-expres.html?utm_source=newletter&utm_medium=email&utm_campaign=W10%20-%20%F0%9F%8E%89Vuelve%20nuestro%20robot%20de%20cocina%20que%20lo%20hace%20todo.%20%F0%9F%8E%89" target="_blank" style="font-size: 13px;font-family: 'Raleway-bold', Arial, Helvetica; font-weight: bold; color: #FFFFFF; text-decoration: none; display: inline-block; min-width: 260px; width: 260px; line-height: 35px;" title=""><strong style="font-weight: BOLD; color: #ffffff;" > PREPÁRATE PARA VIAJAR <span style="font-size: 16px;">&rsaquo;</span></strong></a>
                        </td>
                        </tr>
                    </table>
                    </td>
                    </tr>
                </table>
            </td>
        </tr>
        </mj-raw>
   
    </mj-section>
    <!--  SECTION FONDO AMARILLO BOTTOM  -->

    <mj-spacer height="40px" />

    <!--  SECTION FONDO AZUL  -->
    <mj-section background-url="http://aldi.ddb.es/comunicacion/newsletter/2020/febrero/w10/images/bg.png" >

        <mj-column width="0px" ></mj-column>

        <mj-column  vertical-align="top" width="260px"  padding="10px 0px 15px 0px" >
            <mj-image  align="center" padding="10px 0px 10px 0px" src="http://aldi.ddb.es/comunicacion/newsletter/2020/febrero/w10/images/2logo.png"  padding="0px" width="148px" height="44px" ></mj-image>
            <mj-image  align="center" padding="0px 0px 0px 0px" href="https://folleto.aldi.es/semanal/aldi-folleto-w10-2020-peninsula/?page=6?utm_source=newletter&utm_medium=email&utm_campaign=W10%20-%20%F0%9F%8E%89Vuelve%20nuestro%20robot%20de%20cocina%20que%20lo%20hace%20todo.%20%F0%9F%8E%89" src="http://aldi.ddb.es/comunicacion/newsletter/2020/febrero/w10/images/featured3.jpg"  padding="0px" width="260px" ></mj-image>
           

        <mj-raw>
        <tr>
            <td align="center" vertical-align="middle" style="font-size:0px;padding:0 0 0px 0px;word-break:break-word;">
                <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:separate;line-height:100%;">
                    <tr>
                        <td align="left"  width="260px" >
                           <p style="margin:10px 0px 0px 0px; color:#000000; font-size:16px; line-height:17px; font-family:'Raleway-Regular', Arial, Helvetica; font-weight: 300;padding-right:5px" class="mobile-txt-titulo"><strong>Queso curado premiado en <i>World Cheese Awards</i></strong>
                            <p style="margin:5px 0px 10px 0px; color:#000000; font-size:12px; line-height:15px; font-family:'Raleway-Regular', Arial, Helvetica; font-weight: 300;padding:0 10px 0 0"  class="mobile-txt-parafro">Precio válido del 02/03 al 08/03.</p>
                            

                            <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:separate;line-height:100%;">
                            <tr>
                           <td align="center" bgcolor="#232e7d" width="260" height="35"><a href="https://folleto.aldi.es/semanal/aldi-folleto-w10-2020-peninsula/?page=6?utm_source=newletter&utm_medium=email&utm_campaign=W10%20-%20%F0%9F%8E%89Vuelve%20nuestro%20robot%20de%20cocina%20que%20lo%20hace%20todo.%20%F0%9F%8E%89" target="_blank" style="font-size: 13px;font-family: 'Raleway-bold', Arial, Helvetica; font-weight: bold; color: #FFFFFF; text-decoration: none; display: inline-block; min-width: 260px; width: 260px; line-height: 35px;" title=""><strong style="font-weight: BOLD; color: #ffffff;" > MIRA MÁS QUESOS <span style="font-size: 16px;">&rsaquo;</span></strong></a>
                        </td>
                        </tr>
                    </table>
                    </td>
                    </tr>
                </table>
            </td>
        </tr>
        </mj-raw>

        <mj-spacer height="10px"></mj-spacer>
        </mj-column>

        <mj-column width="5px" ></mj-column>

        <mj-column  vertical-align="top" width="260px"  padding="10px 0px 10px 0px" >

        <mj-image  align="center" padding="10px 0px 10px 0px" src="http://aldi.ddb.es/comunicacion/newsletter/2020/febrero/w10/images/3logo.png"  padding="0px" width="130px" height="44px" ></mj-image>

        <mj-image  align="center" padding="0px 0px 0px 0px"  href="https://folleto.aldi.es/semanal/aldi-folleto-w10-2020-peninsula/?page=10?utm_source=newletter&utm_medium=email&utm_campaign=W10%20-%20%F0%9F%8E%89Vuelve%20nuestro%20robot%20de%20cocina%20que%20lo%20hace%20todo.%20%F0%9F%8E%89" src="http://aldi.ddb.es/comunicacion/newsletter/2020/febrero/w10/images/featured4.jpg"  padding="0px" width="280px" ></mj-image>

        <mj-raw>
        <tr>
            <td align="center" vertical-align="middle" style="font-size:0px;padding:0 0 0px 0px;word-break:break-word;">
                <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:separate;line-height:100%;">
                    <tr>
                        <td align="left"  width="260px" >
                            <p style="margin:10px 0px 0px 0px; color:#000000; font-size:16px; line-height:17px; font-family:'Raleway-Regular', Arial, Helvetica; font-weight: 300;" class="mobile-txt-titulo"><strong>Agua 100 % de coco<br>GutBio<span style="font-size:10px; vertical-align: text-top;">®</span></strong></p>
                            
                            <p style="margin:5px 0px 10px 0px; color:#000000; font-size:12px; line-height:15px; font-family:'Raleway-Regular', Arial, Helvetica; font-weight: 300;padding:0 10px 0 0"  class="mobile-txt-parafro">Precio válido del 02/03 al 08/03.</p>

                            <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:separate;line-height:100%;">
                            <tr>
                             <td align="center" bgcolor="#232e7d" width="260" height="35"><a href="https://folleto.aldi.es/semanal/aldi-folleto-w10-2020-peninsula/?page=10?" target="_blank" style="font-size: 13px;font-family: 'Raleway-bold', Arial, Helvetica; font-weight: bold; color: #FFFFFF; text-decoration: none; display: inline-block; min-width: 260px; width: 260px; line-height: 35px;" title=""><strong style="font-weight: bold; color: #ffffff;" > MIRA MÁS ECOS <span style="font-size: 16px;">&rsaquo;</span></strong></a>
                        </td>
                        </tr>
                    </table>
                    </td>
                    </tr>
                </table>
            </td>
        </tr>
        </mj-raw>
   
    </mj-section>
    <!-- /  SECTION FONDO AZUL  -->

       <mj-section css-class="spacer-mobile" padding="30px 0px 40px 0px" >
        <mj-column width="0px" ></mj-column>
        <mj-column  vertical-align="top" width="260px"  padding="0px 0px 10px 0px" >
             <mj-image align="center" padding="0px 0px 0px 0px" alt="" href="https://www.aldi.es/folleto.html?utm_source=newletter&utm_medium=email&utm_campaign=W10%20-%20%F0%9F%8E%89Vuelve%20nuestro%20robot%20de%20cocina%20que%20lo%20hace%20todo.%20%F0%9F%8E%89" target="_blank" src="http://aldi.ddb.es/comunicacion/newsletter/2020/febrero/w10/images/imgfolleto.jpg"  padding="0px" ></mj-image>

        </mj-column>
        <mj-column width="15px" ></mj-column>
        <mj-column  vertical-align="top" width="260px"  padding="10px 0px 20px 0px" >
        
        <mj-raw>
        <tr>
            <td align="center" vertical-align="middle" style="font-size:0px;padding:0 0 0px 0px;word-break:break-word;">
                <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:separate;line-height:100%;">
                    <tr>
                        <td align="left"  width="260px" >
                            <p style="mmargin: 5px 0px 7px 0px; color:#000000; font-size:25px; line-height:25px; font-family:'Helvetica', Arial, sans-serif; font-weight: bold;" class="mobile-txt-header" >Descubre el folleto<br>de esta semana</p>
                            

                            <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:separate;line-height:100%;">
                            <tr>
                            <td align="center" bgcolor="#232e7d" width="260" height="35"><a href="https://www.aldi.es/folleto.html?utm_source=newletter&utm_medium=email&utm_campaign=W10%20-%20%F0%9F%8E%89Vuelve%20nuestro%20robot%20de%20cocina%20que%20lo%20hace%20todo.%20%F0%9F%8E%89" target="_blank" style="font-size: 13px;font-family: 'Raleway-bold', Arial, Helvetica; font-weight: bold; color: #FFFFFF; text-decoration: none; display: inline-block; min-width: 260px; width: 260px; line-height: 35px;" title=""><strong style="font-weight: BOLD; color: #ffffff;" > MIRA EL FOLLETO <span style="font-size: 16px;">&rsaquo;</span></strong></a>
                        </td>
                        </tr>
                    </table>
                    </td>
                    </tr>
                </table>
            </td>
        </tr>
        </mj-raw>
    </mj-section>

    <mj-section background-color="#f7f7f7" padding="30px 0px 10px 0px"> 
        <mj-column  >
            <mj-text align="center" font-size="15px"  line-height="22px" font-family="'Raleway-Regular', Arial, Helvetica,sans-serif;" font-weight="300" color="#000000">Lo que vale mucho cuesta muy poco</mj-text>
        </mj-column  >
    </mj-section>

    <mj-section background-color="#f7f7f7" padding="0px 0px 40px 0px"> 
        <mj-column  >

           <mj-social font-size="18px" icon-size="30px" mode="horizontal" padding="5px 0px 15px 0px" >
                <mj-social-element name="facebookAldi" padding="0px 7px 0px 0px" href="https://www.facebook.com/AldiSupermercados.es?utm_source=newletter&utm_medium=email&utm_campaign=W10%20-%20%F0%9F%8E%89Vuelve%20nuestro%20robot%20de%20cocina%20que%20lo%20hace%20todo.%20%F0%9F%8E%89" src="http://aldi.ddb.es/comunicacion/newsletter/2020/febrero/w10/images/fb.png" alt="fb">
                </mj-social-element>
                <mj-social-element name="googleAldi" padding="0px 7px 0px 0px" href="https://twitter.com/aldi_es??utm_source=newletter&utm_medium=email&utm_campaign=W10%20-%20%F0%9F%8E%89Vuelve%20nuestro%20robot%20de%20cocina%20que%20lo%20hace%20todo.%20%F0%9F%8E%89" src="http://aldi.ddb.es/comunicacion/newsletter/2020/febrero/w10/images/tw.png" alt="tw">
                </mj-social-element>
                <mj-social-element name="instagramAldi" padding="0px 7px 0px 0px" href="https://www.instagram.com/aldi.es/?utm_source=newletter&utm_medium=email&utm_campaign=W10%20-%20%F0%9F%8E%89Vuelve%20nuestro%20robot%20de%20cocina%20que%20lo%20hace%20todo.%20%F0%9F%8E%89" target="_blank" src="http://aldi.ddb.es/comunicacion/newsletter/2020/febrero/w10/images/inst.png" >
                </mj-social-element>
                <mj-social-element name="youtubeAldi" padding="0px 7px 0px 0px" href="https://www.youtube.com/channel/UCqJCzG9bO3EFFkXiC3WusZw?utm_source=newletter&utm_medium=email&utm_campaign=W10%20-%20%F0%9F%8E%89Vuelve%20nuestro%20robot%20de%20cocina%20que%20lo%20hace%20todo.%20%F0%9F%8E%89" target="_blank" src="http://aldi.ddb.es/comunicacion/newsletter/2020/febrero/w10/images/yt.png" alt="yt">
                </mj-social-element>
                <mj-social-element name="pinteresaldi" padding="0px 7px 0px 0px" href="https://www.pinterest.es/Aldi_Es/?utm_source=newletter&utm_medium=email&utm_campaign=W10%20-%20%F0%9F%8E%89Vuelve%20nuestro%20robot%20de%20cocina%20que%20lo%20hace%20todo.%20%F0%9F%8E%89" target="_blank" src="http://aldi.ddb.es/comunicacion/newsletter/2020/febrero/w10/images/pi.png" alt="pi">
                </mj-social-element>
            </mj-social>
            
        </mj-column>
    </mj-section>

    <mj-section >
        <mj-column >
            
        </mj-column>
    </mj-section>

    <mj-section padding="30px 0px 40px" css-class="section-social">
        <mj-group vertical-align="middle" css-class="section-social-group"  >
            <mj-column width="45%">
                 <mj-image src="http://aldi.ddb.es/comunicacion/newsletter/2020/febrero/w10/images/encuentratienda.png" alt="encuentra tu tienda" align="left" border="none" href="https://www.aldi.es/supermercados/encuentra-tu-supermercado.html?utm_source=newletter&utm_medium=email&utm_campaign=W10%20-%20%F0%9F%8E%89Vuelve%20nuestro%20robot%20de%20cocina%20que%20lo%20hace%20todo.%20%F0%9F%8E%89" width="180px" alt="Encuentra tienda"></mj-image>
            </mj-column>
            <mj-column width="47%">
                 <mj-image src="http://aldi.ddb.es/comunicacion/newsletter/2020/febrero/w10/images/contigo.png" alt="contigo Aldi" align="right" border="none" href="https://www.aldi.es/contigo-aldi?utm_source=newletter&utm_medium=email&utm_campaign=W10%20-%20%F0%9F%8E%89Vuelve%20nuestro%20robot%20de%20cocina%20que%20lo%20hace%20todo.%20%F0%9F%8E%89" width="120px" css-class="imgFooter" alt="contigo"></mj-image>
                 <mj-image src="http://aldi.ddb.es/comunicacion/newsletter/2020/febrero/w10/images/servei.png" alt="contigo Aldi" align="right" border="none" href="tel:900902466?utm_source=newletter&utm_medium=email&utm_campaign=W09%20-%20%E2%AC%87Rebajas%20finales%20en%20ALDI%20%E2%AC%87%2C%20%C2%A1aprovecha%20las%20%C3%BAltimas%20oportunidades!" width="120px" css-class="imgFooter" alt="contigo tel"></mj-image>
          <mj-image src="http://aldi.ddb.es/comunicacion/newsletter/2020/febrero/w10/images/contigoemail.png" alt="contigo Aldi" align="right" border="none" href="mailto:contigo@aldi.es?utm_source=newletter&utm_medium=email&utm_campaign=W10%20-%20%F0%9F%8E%89Vuelve%20nuestro%20robot%20de%20cocina%20que%20lo%20hace%20todo.%20%F0%9F%8E%89" width="120px" css-class="imgFooter" alt="contigo email"></mj-image>
            </mj-column>
        </mj-group>
    </mj-section>

    <mj-section>
        <mj-column>
            <mj-text align="center" padding="0 10px" >
                <p style="margin:0; padding-bottom:7px; font-size:10px; line-height:12px; margin-bottom:10px; color:#111111; font-family: Arial, Helvetica, sans-serif;">*Precios válidos del 2 al 8 de marzo de 2020. </p>
                <p style="margin:0; padding-bottom:7px; font-size:10px; line-height:12px; margin-bottom:10px; color:#111111; font-family: Arial, Helvetica, sans-serif;">¡Añádenos a tu lista de contactos! Así te asegurarás de recibir nuestra newsletter en tu bandeja de entrada principal. </p>
                <p style="margin:0; padding-bottom:10px; font-size:10px; line-height:14px; margin-bottom:10px; color:#111111; font-family: Arial, Helvetica, sans-serif;">En cumplimiento de lo establecido por los nuevos requisitos del Reglamento General de la Protección de Datos de la UE (GDPR) de Protección de Datos de Carácter Personal, le informamos que los datos personales contenidos en esta comunicación forman parte del fichero de contactos propiedad de ALDI Supermercados S.L. cuya finalidad es la de mantener con usted relaciones comerciales y/o profesionales, lo que usted consintió y aceptó. En todo caso podrá ejercer los derechos de acceso, rectificación, oposición, limitación del tratamiento, portabilidad y cancelación dirigiéndose a ALDI por correo electrónico a través de <a href="mailto:protecciondatos@aldi.es?utm_source=newletter&utm_medium=email&utm_campaign=W10%20-%20%F0%9F%8E%89Vuelve%20nuestro%20robot%20de%20cocina%20que%20lo%20hace%20todo.%20%F0%9F%8E%89" style="color:#111111; text-decoration:none;">protecciondatos@aldi.es</a> indicando el asunto GDPR.</p>
            </mj-text>
            <mj-text align="center" padding="0 10px" css-class="contact-footer" >                  
                <p style="margin:0; padding-bottom:10px; font-size:11px; line-height:15px; margin-bottom:10px; color:#111111; font-family: Arial, Helvetica, sans-serif;">
                    <a href="https://www.aldi.es/servicios/apuntate-nuestra-newsletter/baja-de-la-newsletter.html?utm_source=newletter&utm_medium=email&utm_campaign=W10%20-%20%F0%9F%8E%89Vuelve%20nuestro%20robot%20de%20cocina%20que%20lo%20hace%20todo.%20%F0%9F%8E%89" style="color:#008bcf; text-decoration:none;" >Baja de la newsletter</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                    <a href="https://www.aldi.es/supermercados/encuentra-tu-supermercado.html?utm_source=newletter&utm_medium=email&utm_campaign=W10%20-%20%F0%9F%8E%89Vuelve%20nuestro%20robot%20de%20cocina%20que%20lo%20hace%20todo.%20%F0%9F%8E%89" style="color:#008bcf; text-decoration:none;">Tiendas ALDI</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                    <a href="[linktocontent]" style="color:#008bcf; text-decoration:none;">Ver en navegador</a>
                </p>
           </mj-text>
             
        </mj-column>
    </mj-section>

 </mj-body>
</mjml>