<mjml>
  <mj-head>
    <mj-title>Paraguayos jugosísimos de origen nacional a solo 1,39 €/kilo 🍑.</mj-title>
    <mj-style inline="inline">
      .link-nostyle {
        color: inherit;
        text-decoration: underline;
      }

      @media only screen and (max-width: 585px) {
        .wrapper-mobileset {
          margin: auto 0px !important;
        }
      }
    </mj-style>
    <mj-style>


      * {
      -ms-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%;
      }

      a[x-apple-data-detectors] {
      color: inherit !important;
      text-decoration: none !important;
      font-size: inherit !important;
      font-family: inherit !important;
      font-weight: inherit !important;
      line-height: inherit !important;
      }

      .yshortcuts a {
      border-bottom: none !important;
      }

      @media screen yahoo {
      * {
      overflow: visible!important
      }
      .y-overflow-hidden {
      overflow: hidden!important
      }
      }

      @media only screen and (max-width: 585px) {


      .imgFooter {
      padding: 0px 0px 0 0 !important;
      }


      .social-ico-bug{
      width: 102% !important;
      }

      .imgBugSocial a img{
      margin-left: 0px;
      }

      .imgBugSocial tr td{
      width: 27px !important;
      }

      img.bugLines {
      width:100% !important;
      height:auto !important;
      }

      u ~ div .full-wrap {min-width: 100vw;}
      div > u ~ div .full-wrap {min-width: 100%;}

      .wrapper-mobileset{
      background-color: #ffffff !important;
      outline:20px solid #ffffff;
      box-sizing: border-box;
      border-left: 4px solid #ffffff;
      border-right: 4px solid #ffffff;
      margin: auto 0px !important;
      }

      .header-logo {
      display: block !important;
      float:right;
      padding-right:10px !important;
      width:25%;
      }

      .contact-footer a {
      font-size: 10px !important;
      }

      .section-social-group {
      text-align: center;
      }

      .sectionBug {
      width: 290px !important;
      }


      .imgBug2 tr td img {
      width: 290px !important;
      margin: 0 auto;
      }

      .imgBug2R tr td img {
      width: 285px !important;
      margin: 0 auto;
      }

      .ctaButtonMobile-Big {
      width: 150px !important;
      }

      .imgBugLogoEspecial tr td img{
      width: 190px !important;
      height: 58px !important;
      margin: 0 auto;
      }

      .imgBugLogoCompraSemanal tr td img{
      width: 190px !important;
      height: 58px !important;
      margin: 0 auto;
      }

      .imgBugLogoManualidades tr td img{
      width: 165px !important;
      height: 54px !important;
      margin: 0 auto;
      }

      .imgBugLogoEspecialFrancia tr td img{
      width: 170px !important;
      height: 56px !important;
      margin: 0 auto;
      }


      .imgBugLogoEspecialDestacado tr td img{
      width: 240px !important;
      height: 61px !important;
      margin: 0 auto;
      }

      .cta-webmail {
      width: 295px !important;
      padding: 0 !important;
      }

      .cta-webmail-sub {
      width: 290px !important;
      padding: 0 !important;

      }

      .cta-webmail-sub td table {
      width: 290px !important;
      padding: 0 !important;
      }

      .txt-img-date p {
      font-size: 18px !important;
      line-height: 30px !important;
      text-align: center !important;
      margin: 3px auto 3px !important;
      padding: 0px !important;
      }

      .txt-img-date-new {
      font-size: 20px !important;
      line-height: 30px !important;
      text-align: center !important;
      margin: 10px auto 10px !important;
      padding: 0px !important;
      }

      .removeBorder td {
      border-left: none !important;
      border-right:none !important;
      }


      .txt-hide {
      display: none !important;
      }
      .txt-img-BigLeft p{
      font-size: 30px !important;
      line-height: 32px !important;
      width: 290px !important;
      text-align: left !important;
      margin: 25px auto 0px !important;
      padding: 0px !important;
      }

      .txt-img-Big p{
      font-size: 26px !important;
      line-height: 30px !important;
      width: 285px !important;
      text-align: left !important;
      margin: 15px auto 4px !important;
      padding: 0px !important;
      }

      .txt-img-Big-sub p {
      font-size: 16px !important;
      line-height: 20px !important;
      width: 285px !important;
      text-align: left !important;
      margin: 0px auto 0px !important;
      padding: 0px !important;
      }

      .txt-img-Big-subR p {
      font-size: 16px !important;
      line-height: 20px !important;
      width: 285px !important;
      text-align: left !important;
      margin: 0px auto 0px !important;
      padding: 0px !important;
      }

      .txt-img-Big-subR {
      padding: 0px !important;
      }

      .txt-img-Cta p {
      width: 285px !important;
      text-align: left !important;
      margin: 0px auto 0px!important;
      padding: 0px !important;
      }

      .txt-img-Cta p a {
      font-size: 17px !important;
      width: 285px !important;
      text-align: left !important;
      margin: 0px auto 0px!important;
      padding: 0px !important;
      }

      .txt-img-legal p {
      font-size: 13px !important;
      line-height: 20px !important;
      width: 290px !important;
      text-align: left !important;
      margin: 5px auto 0px !important;
      margin-bottom:0px !important;
      padding: 0px !important;
      }


      .txt-img-strong p {
      font-size: 18px !important;
      line-height: 20px !important;
      width: 290px !important;
      text-align: left !important;
      margin: 0px auto 0px !important;
      padding: 0px !important;
      }

      .txt-img-strong-single p {
      font-size: 18px !important;
      line-height: 20px !important;
      width: 290px !important;
      text-align: left !important;
      margin: 5px auto 0px !important;
      padding: 0px !important;
      }

      .txt-img p {
      font-size: 16px !important;
      line-height: 19px !important;
      width: 290px !important;
      text-align: left !important;
      margin: 2px auto 0px !important;
      padding: 0px !important;
      }

      .txt-img-span {
      font-size: 13px !important;
      line-height: 18px !important;
      margin: 0 0 !important;
      padding: 0 !important;
      }

      .txt-img-last p {
      font-size: 20px !important;
      line-height: 25px !important;
      width: 290px !important;
      text-align: left !important;
      margin: 0px auto 6px !important;
      padding: 0px !important;
      }

      .removePaddingCta {
      padding: 0px !important;
      }

      .removePaddingCta-legal {
      padding: 4px 0 0px 0 !important;
      }

      .removePaddingCta-legal table{
      margin: 2px !important;
      }
      .section-margin {
      margin-bottom:50px !important;
      }

      .ctaButtonMobile {

      margin: 0px 0px !important;

      }

      .ctaButtonMobile td {

      width: 290px !important;
      margin: 0px 0px !important;
      height: 35px !important;
      }


      .ctaButtonMobile td a strong {
      font-size: 15px !important;
      }

      }

      @media (prefers-color-scheme: dark) {

      .darkColor-white {
      color: #ffffff !important;
      }

      .darkColor-black {
      color: #111111 !important;
      }

      }

    </mj-style>
    <mj-breakpoint width="585px" />
    <mj-attributes>
      <mj-all font-family="Helvetica, Arial, sans-serif" padding="0px"></mj-all>
      <mj-text font-weight="400" font-size="14px" color="#000000" line-height="21px"></mj-text>
      <mj-class name="btn-base" font-size="12px" line-height="10px" />
    </mj-attributes>

    <mj-preview>Y nuevos #ALDItrucos para sorprender a tus invitados 👌.</mj-preview>

  </mj-head>

  <mj-body background-color="#ffffff" css-class="wrapper-mobileset full-wrap">

    <mj-section padding-bottom="10px" padding-top="10px" padding-left="7px" padding-right="7px" text-align="center" padding="10px 7px" background-color="#e4e4e4">
      <mj-column>
        <mj-text align="center" font-size="9px" letter-spacing="1px" line-height="20px" font-family="Arial, sans-serif" font-weight="normal" color="#808890">Si no ves correctamente este email haz clic, <a href="[linktocontent]" color="#000000" class="link-nostyle" line-height="10px">aquí</a></mj-text>
      </mj-column>
    </mj-section>

    <mj-section background-color="#ffffff" background-url="http://aldi.ddb.es/comunicacion/newsletter/2020/julio/w28/images/bgwhite.png">
      <mj-column>
        <mj-image padding="20px 30px 20px 0px" width="100px" align="right" src="http://aldi.ddb.es/comunicacion/newsletter/2020/julio/w28/images/logo.jpg" href="https://www.aldi.es?utm_source=Aldi%20Spain&utm_medium=email&utm_campaign=W28%20-%20Paraguayos%20jugos%C3%ADsimos%20de%20origen%20nacional%20a%20solo%201%2C39%20%E2%82%AC%2Fkilo%20%F0%9F%8D%91." css-class="header-logo"></mj-image>
      </mj-column>
    </mj-section>

    <mj-section padding="0px 0px 60px 0px">
      <mj-column>
        <mj-image src="http://aldi.ddb.es/comunicacion/newsletter/2020/julio/w28/images/cabecera2.jpg" href="https://www.aldi.es/ofertas/ofertas-miercoles-frescos.html?utm_source=Aldi%20Spain&utm_medium=email&utm_campaign=W28%20-%20Paraguayos%20jugos%C3%ADsimos%20de%20origen%20nacional%20a%20solo%201%2C39%20%E2%82%AC%2Fkilo%20%F0%9F%8D%91." alt="" padding="0px"></mj-image>
      </mj-column>
    </mj-section>

    <mj-section padding="0px 0px 50px 0px">

      <mj-column vertical-align="top" width="295px" padding="0px 0px 0px 0px">
        <mj-image align="center" padding="0px 0px 0px 0px" href="https://www.aldi.es/inspirate/trucos.html?utm_source=Aldi%20Spain&utm_medium=email&utm_campaign=W28%20-%20Paraguayos%20jugos%C3%ADsimos%20de%20origen%20nacional%20a%20solo%201%2C39%20%E2%82%AC%2Fkilo%20%F0%9F%8D%91." src="http://aldi.ddb.es/comunicacion/newsletter/2020/julio/w28/images/img1.gif" padding="0px" css-class="imgBug2R" width="295px"></mj-image>
      </mj-column>

      <mj-column width="15px"></mj-column>

      <mj-column vertical-align="top" width="280px" padding="0px 0px 0px 0px">

        <mj-text align="left" padding="0px 0px 0px 0px" css-class="txt-img-Big">
          <p style="margin:0px 0px 0px 0px; color:#000000; font-size:27px; line-height:30px; font-family:Helvetica, Arial; font-weight: bold;">Sorprende a tus invitados</p>
        </mj-text>

        <mj-text align="left" padding="0px 0px 0px 0px" css-class="txt-img-Big-sub">
          <p style="margin:12px 0px 0px 0px; color:#000000; font-size:15px; line-height:20px; font-family:Helvetica, Arial; font-weight: 300;">Descubre estos #ALDItrucos tan fáciles y prácticos que dejarán a tus invitados boquiabiertos.</p>
        </mj-text>

        <mj-text align="left" padding="0px 0px 0px 0px" css-class="txt-img-Cta">
          <p style="margin:0px 0px 15px 0px; color:#ffffff; font-size:15px; line-height:40px; font-family:Helvetica, Arial;  font-weight: 300;"><a href="https://www.aldi.es/inspirate/trucos.html?utm_source=Aldi%20Spain&utm_medium=email&utm_campaign=W28%20-%20Paraguayos%20jugos%C3%ADsimos%20de%20origen%20nacional%20a%20solo%201%2C39%20%E2%82%AC%2Fkilo%20%F0%9F%8D%91." target="_blank" style="font-size: 15px;font-family: Arial, Helvetica; font-weight: bold; color: #111111; text-decoration: undeline; display: inline-block; min-width: 290px; width: 290px; line-height: 20px; ;margin:0 auto;padding:0px 0px 0px 0px" title="MIRA LOS #ALDITRUCOS"><span style="font-weight: light; color: #111111;" title="MIRA LOS #ALDITRUCOS"><strong style="font-weight: bold; color: #111111;"> MIRA LOS #ALDITRUCOS <span style="font-size: 17px;">&rsaquo;</span></strong></a></p>
        </mj-text>

      </mj-column>
    </mj-section>

    <mj-section background-url="http://aldi.ddb.es/comunicacion/newsletter/2020/julio/w28/images/bgskye.png" padding="0px 0px 0px 0px">

      <mj-column width="320px" padding="0px 0px 0px 0px">

          <mj-image align="center" padding="10px 0px 12px 0px" src="http://aldi.ddb.es/comunicacion/newsletter/2020/julio/w28/images/1logo.png" width="165px" height="54px" css-class="imgBugLogoManualidades"></mj-image>

        <mj-image align="center" padding="0px 0px 0px 0px" href="https://www.aldi.es/inspirate/manualidades.html?utm_source=Aldi%20Spain&utm_medium=email&utm_campaign=W28%20-%20Paraguayos%20jugos%C3%ADsimos%20de%20origen%20nacional%20a%20solo%201%2C39%20%E2%82%AC%2Fkilo%20%F0%9F%8D%91." src="http://aldi.ddb.es/comunicacion/newsletter/2020/julio/w28/images/img2.jpg" padding="0px" css-class="imgBug2"></mj-image>
      
        <mj-text align="left" padding="0px 0px 0px 0px" css-class="txt-img-strong">
          <p style="margin:10px 0px 0px 0px; color:#000000; font-size:18px; line-height:20px; font-family:Helvetica Neue, Helvetica, Arial; font-weight: bold;"><strong>Una serpiente burbujeante </strong></p>
        </mj-text>

        <mj-text align="left" padding="0px 0px 0px 0px" css-class="txt-img">
          <p style="margin:2px 0px 0px 0px; color:#000000; font-size:16px; line-height:18px; font-family:Helvetica, Arial;  font-weight: 300;">Aprende con tus peques una nueva y refrescante forma de experimentar con las burbujas y los colores. ¡Os encantará!</p>
        </mj-text>

      </mj-column>

    </mj-section>

    <mj-section padding="0px 0px 50px 0px" css-class="cta-webmail">
      <mj-column>
        <mj-raw>
          <tr>
            <td align="center" vertical-align="middle" style="font-size:0px;padding:10px 0 0px;word-break:break-word;" class="removePaddingCta">
              <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:separate;line-height:100%; margin:3px 0px 0px  0px ;">
                <tr class="ctaButtonMobile">
                  <td align="center" bgcolor="#232e7d" width="250" height="40"><a href="https://www.aldi.es/inspirate/manualidades.html?utm_source=Aldi%20Spain&utm_medium=email&utm_campaign=W28%20-%20Paraguayos%20jugos%C3%ADsimos%20de%20origen%20nacional%20a%20solo%201%2C39%20%E2%82%AC%2Fkilo%20%F0%9F%8D%91." conversion="true" target="_blank" style="font-size: 16px;font-family: Arial, Helvetica; font-weight: bold; color: #ffffff; text-decoration: none; display: inline-block; min-width: 250px; width: 250px; line-height: 35px;letter-spacing:0.01px;" alias="boton" title="APRÉNDELAS"><strong style="font-weight: BOLD; color: #ffffff;" title="APRÉNDELAS"> APRÉNDELAS  <span style="font-size: 18px;">&rsaquo;</span> </strong></a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </mj-raw>
      </mj-column>
    </mj-section>

    <mj-section border="3px solid #365fa3" css-class="removeBorder">
      <mj-column>
        <mj-text align="center" padding="0px 0px" css-class="txt-img-date">
          <p style="margin:3px 0px; color:#000000; font-size:20px; line-height:33px; font-family:Helvetica, Arial; font-weight: bold;">DESDE EL <strong style="color: #365fa3"> LUNES 06/07 </strong>
        </mj-text>
      </mj-column>
    </mj-section>

    <mj-section background-url="http://aldi.ddb.es/comunicacion/newsletter/2020/julio/w28/images/bgazul.png" padding="0px 0px 0px 0px">

      <mj-column width="320px" padding="0px 0px 0px 0px">

        <mj-image align="center" padding="15px 0px 15px 0px" src="http://aldi.ddb.es/comunicacion/newsletter/2020/julio/w28/images/2logo.png" width="165px" height="54px" css-class="imgBugLogoManualidades"></mj-image>


        <mj-image align="center" padding="0px 0px 0px 0px" href="https://www.aldi.es/ofertas/especial-usa.html?utm_source=Aldi%20Spain&utm_medium=email&utm_campaign=W28%20-%20Paraguayos%20jugos%C3%ADsimos%20de%20origen%20nacional%20a%20solo%201%2C39%20%E2%82%AC%2Fkilo%20%F0%9F%8D%91." src="http://aldi.ddb.es/comunicacion/newsletter/2020/julio/w28/images/img3.jpg" padding="0px" css-class="imgBug2"></mj-image>


        <mj-text align="left" padding="0px 0px 0px 0px" css-class="txt-img-legal">
          <p style="margin:7px 0px 0px 0px; color:#858181; font-size:13px; line-height:18px; font-family:Helvetica Neue, Helvetica, Arial; font-weight: light;letter-spacing:0.6px">5 x 40 g (11,25 €/kg)</p>
        </mj-text>

        <mj-text align="left" padding="0px 0px 0px 0px" css-class="txt-img-strong">
          <p style="margin:0px 0px 0px 0px; color:#000000; font-size:18px; line-height:20px; font-family:Helvetica Neue, Helvetica, Arial; font-weight: bold;"><strong>Barritas Knoppers</strong></p>
        </mj-text>

        <mj-text align="left" padding="0px 0px 0px 0px" css-class="txt-img">
          <p style="margin:2px 0px 0px 0px; color:#000000; font-size:16px; line-height:18px; font-family:Helvetica, Arial;  font-weight: 300;">De barquillo.<br><span class="txt-img-span" style="margin:0px 0px 0px 0px; color:#000000; font-size:13px; line-height:18px;">Precios válidos del 06/07 al 12/07.</span></p>
        </mj-text>

      </mj-column>

    </mj-section>

 <mj-section padding="0px 0px 50px 0px" css-class="cta-webmail">
      <mj-column>
        <mj-raw>
          <tr>
            <td align="center" vertical-align="middle" style="font-size:0px;padding:10px 0 0px;word-break:break-word;" class="removePaddingCta">
              <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:separate;line-height:100%; margin:3px 0px 0px  0px ;">
                <tr class="ctaButtonMobile">
                  <td align="center" bgcolor="#232e7d" width="250" height="40"><a href="https://www.aldi.es/ofertas/especial-usa.html?utm_source=Aldi%20Spain&utm_medium=email&utm_campaign=W28%20-%20Paraguayos%20jugos%C3%ADsimos%20de%20origen%20nacional%20a%20solo%201%2C39%20%E2%82%AC%2Fkilo%20%F0%9F%8D%91." conversion="true" target="_blank" style="font-size: 16px;font-family: Arial, Helvetica; font-weight: bold; color: #ffffff; text-decoration: none; display: inline-block; min-width: 250px; width: 250px; line-height: 35px;letter-spacing:0.01px;" alias="boton" title="DESCUBRE MÁS"><strong style="font-weight: BOLD; color: #ffffff;" title="DESCUBRE MÁS"> DESCUBRE MÁS <span style="font-size: 18px;">&rsaquo;</span> </strong></a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </mj-raw>
      </mj-column>
    </mj-section>

    <mj-section border="3px solid #a92021" css-class="removeBorder">
      <mj-column>
        <mj-text align="center" padding="0px 0px" css-class="txt-img-date">
          <p style="margin:3px 0px; color:#000000; font-size:20px; line-height:33px; font-family:Helvetica, Arial; font-weight: bold;">DESDE EL <strong style="color: #a92021"> MIÉRCOLES 08/07 </strong>
        </mj-text>
      </mj-column>
    </mj-section>

    <mj-section background-url="http://aldi.ddb.es/comunicacion/newsletter/2020/julio/w28/images/bgred.png" padding="0px 0px 0px 0px">

      <mj-column width="320px" padding="0px 0px 0px 0px">

        <mj-image align="center" padding="10px 0px 12px 0px" src="http://aldi.ddb.es/comunicacion/newsletter/2020/julio/w28/images/3logo.png" width="190px" height="58px" css-class="imgBugLogoCompraSemanal"></mj-image>


        <mj-image align="center" padding="0px 0px 0px 0px" href="https://www.aldi.es/ofertas/ofertas-miercoles-frescos.html?utm_source=Aldi%20Spain&utm_medium=email&utm_campaign=W28%20-%20Paraguayos%20jugos%C3%ADsimos%20de%20origen%20nacional%20a%20solo%201%2C39%20%E2%82%AC%2Fkilo%20%F0%9F%8D%91." src="http://aldi.ddb.es/comunicacion/newsletter/2020/julio/w28/images/img4.jpg" padding="0px" css-class="imgBug2"></mj-image>


        <mj-text align="left" padding="0px 0px 0px 0px" css-class="txt-img-legal">
          <p style="margin:7px 0px 0px 0px; color:#858181; font-size:13px; line-height:18px; font-family:Helvetica Neue, Helvetica, Arial; font-weight: light;letter-spacing:0.6px">1 kg</p>
        </mj-text>

        <mj-text align="left" padding="0px 0px 0px 0px" css-class="txt-img-strong">
          <p style="margin:0px 0px 0px 0px; color:#000000; font-size:18px; line-height:20px; font-family:Helvetica Neue, Helvetica, Arial; font-weight: bold;"><strong>Mejillones gallegos cocidos</strong></p>
        </mj-text>

        <mj-text align="left" padding="0px 0px 0px 0px" css-class="txt-img">
          <p style="margin:2px 0px 0px 0px; color:#000000; font-size:16px; line-height:18px; font-family:Helvetica, Arial;  font-weight: 300;">En oferta.<br><span class="txt-img-span" style="margin:0px 0px 0px 0px; color:#000000; font-size:13px; line-height:18px;">Precios válidos del 08/07 al 10/07. </span></p>
        </mj-text>

      </mj-column>

    </mj-section>

    <mj-section padding="0px 0px 50px 0px" css-class="cta-webmail">
      <mj-column>
        <mj-raw>
          <tr>
            <td align="center" vertical-align="middle" style="font-size:0px;padding:10px 0 0px;word-break:break-word;" class="removePaddingCta">
              <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:separate;line-height:100%; margin:3px 0px 0px  0px ;">
                <tr class="ctaButtonMobile">
                  <td align="center" bgcolor="#232e7d" width="250" height="40"><a href="https://www.aldi.es/ofertas/ofertas-miercoles-frescos.html?utm_source=Aldi%20Spain&utm_medium=email&utm_campaign=W28%20-%20Paraguayos%20jugos%C3%ADsimos%20de%20origen%20nacional%20a%20solo%201%2C39%20%E2%82%AC%2Fkilo%20%F0%9F%8D%91." conversion="true" target="_blank" style="font-size: 16px;font-family: Arial, Helvetica; font-weight: bold; color: #ffffff; text-decoration: none; display: inline-block; min-width: 250px; width: 250px; line-height: 35px;letter-spacing:0.01px;" alias="boton" title="MIRA QUÉ OFERTAS"><strong style="font-weight: BOLD; color: #ffffff;" title="MIRA QUÉ OFERTAS"> MIRA QUÉ OFERTAS <span style="font-size: 18px;">&rsaquo;</span> </strong></a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </mj-raw>
      </mj-column>
    </mj-section>


    <mj-section border="3px solid #232e7d" css-class="removeBorder">
      <mj-column>
        <mj-text align="center" padding="0px 0px" css-class="txt-img-date">
          <p style="margin:3px 0px; color:#000000; font-size:20px; line-height:33px; font-family:Helvetica, Arial; font-weight: bold;">DESDE EL <strong style="color: #232e7d"> SÁBADO 11/07 </strong>
        </mj-text>
      </mj-column>
    </mj-section>

    <mj-section background-url="http://aldi.ddb.es/comunicacion/newsletter/2020/julio/w28/images/bglilla.png" padding="0px 0px 0px 0px">

      <mj-column width="320px" padding="0px 0px 0px 0px">

        <mj-image align="center" padding="10px 0px 12px 0px" src="http://aldi.ddb.es/comunicacion/newsletter/2020/julio/w28/images/3logo.png" width="190px" height="58px" css-class="imgBugLogoCompraSemanal"></mj-image>

        <mj-image align="center" padding="0px 0px 0px 0px" href="https://www.aldi.es/ofertas/ofertas-frescos-sabado.html?utm_source=Aldi%20Spain&utm_medium=email&utm_campaign=W28%20-%20Paraguayos%20jugos%C3%ADsimos%20de%20origen%20nacional%20a%20solo%201%2C39%20%E2%82%AC%2Fkilo%20%F0%9F%8D%91." src="http://aldi.ddb.es/comunicacion/newsletter/2020/julio/w28/images/img5.jpg" padding="0px" css-class="imgBug2"></mj-image>

        <mj-text align="left" padding="0px 0px 0px 0px" css-class="txt-img-legal">
          <p style="margin:7px 0px 0px 0px; color:#858181; font-size:13px; line-height:18px; font-family:Helvetica Neue, Helvetica, Arial; font-weight: light;letter-spacing:0.6px">125 g (9,52 €/kg)</p>
        </mj-text>

        <mj-text align="left" padding="0px 0px 0px 0px" css-class="txt-img-strong">
          <p style="margin:0px 0px 0px 0px; color:#000000; font-size:18px; line-height:20px; font-family:Helvetica Neue, Helvetica, Arial; font-weight: bold;"><strong>Frambuesas</strong></p>
        </mj-text>

        <mj-text align="left" padding="0px 0px 0px 0px" css-class="txt-img">
          <p style="margin:2px 0px 0px 0px; color:#000000; font-size:16px; line-height:18px; font-family:Helvetica, Arial;  font-weight: 300;">De temporada.<br><span class="txt-img-span" style="margin:0px 0px 0px 0px; color:#000000; font-size:13px; line-height:18px;">Precios válidos del 11/07 al 14/07.</span></p>
        </mj-text>

      </mj-column>

    </mj-section>

    <mj-section padding="0px 0px 50px 0px" css-class="cta-webmail">
      <mj-column>
        <mj-raw>
          <tr>
            <td align="center" vertical-align="middle" style="font-size:0px;padding:10px 0 0px;word-break:break-word;" class="removePaddingCta">
              <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:separate;line-height:100%; margin:3px 0px 0px  0px ;">
                <tr class="ctaButtonMobile">
                  <td align="center" bgcolor="#232e7d" width="250" height="40"><a href="https://www.aldi.es/ofertas/ofertas-frescos-sabado.html?utm_source=Aldi%20Spain&utm_medium=email&utm_campaign=W28%20-%20Paraguayos%20jugos%C3%ADsimos%20de%20origen%20nacional%20a%20solo%201%2C39%20%E2%82%AC%2Fkilo%20%F0%9F%8D%91." conversion="true" target="_blank" style="font-size: 16px;font-family: Arial, Helvetica; font-weight: bold; color: #ffffff; text-decoration: none; display: inline-block; min-width: 250px; width: 250px; line-height: 35px;letter-spacing:0.01px;" alias="boton" title="MIRA QUÉ FRESCOS"><strong style="font-weight: BOLD; color: #ffffff;" title="MIRA QUÉ FRESCOS"> MIRA QUÉ FRESCOS <span style="font-size: 18px;">&rsaquo;</span> </strong></a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </mj-raw>
      </mj-column>
    </mj-section>



    <mj-section padding="0px 0px 50px 0px" direction="rtl">


      <mj-column vertical-align="top" width="320px" padding="0px 0px 0px 0px">
        <mj-image align="center" padding="0px 0px 0px 0px" href="https://www.aldi.es/todo-incluido.html?utm_source=Aldi%20Spain&utm_medium=email&utm_campaign=W28%20-%20Paraguayos%20jugos%C3%ADsimos%20de%20origen%20nacional%20a%20solo%201%2C39%20%E2%82%AC%2Fkilo%20%F0%9F%8D%91." src="http://aldi.ddb.es/comunicacion/newsletter/2020/julio/w28/images/img6.jpg" padding="0px" css-class="imgBug2R" width="320px"></mj-image>
      </mj-column>

      <mj-column width="25px"></mj-column>

      <mj-column vertical-align="top" width="240px" padding="0px 0px 0px 0px">

        <mj-text align="left" padding="0px 0px 0px 0px" css-class="txt-img-Big">
          <p style="margin:0px 0px 0px 0px; color:#000000; font-size:27px; line-height:30px; font-family:Helvetica, Arial; font-weight: bold;">Gana la Pulsera Tooodo Incluido</p>
        </mj-text>

        <mj-text align="left" padding="0px 20px 0px 0px" css-class="txt-img-Big-subR">
          <p style="margin:12px 0px 0px 0px; color:#000000; font-size:15px; line-height:20px; font-family:Helvetica, Arial; font-weight: 300;">Haz una compra de 15 € o más y registra tu ticket. Cuantos más subas, más posibilidades de ganar 1.500 € para comprar hasta final de año.</p>
        </mj-text>

        <mj-text align="left" padding="0px 0px 0px 0px" css-class="txt-img-Cta">
          <p style="margin:0px 0px 15px 0px; color:#ffffff; font-size:15px; line-height:40px; font-family:Helvetica, Arial;  font-weight: 300;"><a href="https://www.aldi.es/todo-incluido.html?utm_source=Aldi%20Spain&utm_medium=email&utm_campaign=W28%20-%20Paraguayos%20jugos%C3%ADsimos%20de%20origen%20nacional%20a%20solo%201%2C39%20%E2%82%AC%2Fkilo%20%F0%9F%8D%91." target="_blank" style="font-size: 15px;font-family: Arial, Helvetica; font-weight: bold; color: #111111; text-decoration: undeline; display: inline-block; min-width: 290px; width: 290px; line-height: 20px; ;margin:0 auto;padding:0px 0px 0px 0px" title="PARTICIPA AQUÍ"><span style="font-weight: light; color: #111111;" title="PARTICIPA AQUÍ"><strong style="font-weight: bold; color: #111111;"> PARTICIPA AQUÍ <span style="font-size: 17px;">&rsaquo;</span> </strong></a></p>
        </mj-text>

      </mj-column>

    </mj-section>


    <mj-section padding="0px 0px 30px 0px">

      <mj-column vertical-align="top" width="290px" padding="0px 0px 0px 0px">
        <mj-image align="center" padding="0px 0px 0px 0px" href="https://www.aldi.es/folleto.html?utm_source=Aldi%20Spain&utm_medium=email&utm_campaign=W28%20-%20Paraguayos%20jugos%C3%ADsimos%20de%20origen%20nacional%20a%20solo%201%2C39%20%E2%82%AC%2Fkilo%20%F0%9F%8D%91." src="http://aldi.ddb.es/comunicacion/newsletter/2020/julio/w28/images/img7.jpg" padding="0px" css-class="imgBug2" width="500px"></mj-image>
      </mj-column>

      <mj-column width="15px"></mj-column>

      <mj-column vertical-align="top" width="295px" padding="0px 0px 0px 0px">


        <mj-text align="left" padding="0px 0px 0px 0px" css-class="txt-img-Big">
          <p style="margin:40px 0px 0px 0px; color:#000000; font-size:27px; line-height:30px; font-family:Helvetica, Arial; font-weight: bold;">Descubre el folleto<BR>de esta semana</p>
        </mj-text>

        <mj-text align="left" padding="0px 0px 0px 0px" css-class="txt-img-Cta">
          <p style="margin:5px 0px 15px 0px; color:#ffffff; font-size:15px; line-height:40px; font-family:Helvetica, Arial;  font-weight: 300;"><a href="https://www.aldi.es/folleto.html?utm_source=Aldi%20Spain&utm_medium=email&utm_campaign=W28%20-%20Paraguayos%20jugos%C3%ADsimos%20de%20origen%20nacional%20a%20solo%201%2C39%20%E2%82%AC%2Fkilo%20%F0%9F%8D%91." target="_blank" style="font-size: 15x;font-family:Arial,Helvetica,; font-weight: bold; color: #111111; text-decoration: undeline; display: inline-block; min-width: 290px; width: 290px; line-height: 20px; ;margin:0 auto;padding:0px 0 0px 0px" title="MIRA EL FOLLETO"><span style="font-weight: light; color: #111111;" title="MIRA EL FOLLETO"><strong style="font-weight: bold; color: #111111;"> MIRA EL FOLLETO </strong><span style="font-size: 17px;"> &rsaquo; </span></a></p>
        </mj-text>

      </mj-column>
    </mj-section>


    <mj-section padding="10px 0px 0px 0px" background-color="#f7f7f7">
      <mj-column>
        <mj-text align="center" font-size="15px" line-height="22px" font-family="'Raleway-Regular', Arial, Helvetica,sans-serif;" font-weight="300" color="#000000">
          <p class="darkColor-white">Lo que vale mucho cuesta muy poco</p>
        </mj-text>
      </mj-column>
    </mj-section>


    <mj-section background-color="#f7f7f7">
      <mj-group width="500px" css-class="social-ico-bug">
        <mj-column css-class="social-div"></mj-column>
        <mj-column css-class="social-div"></mj-column>
        <mj-column css-class="social-div"></mj-column>
        <mj-column css-class="social-div">
          <mj-image width="30px" padding="0" href="https://www.facebook.com/AldiSupermercados.es?utm_source=Aldi%20Spain&utm_medium=email&utm_campaign=W28%20-%20Paraguayos%20jugos%C3%ADsimos%20de%20origen%20nacional%20a%20solo%201%2C39%20%E2%82%AC%2Fkilo%20%F0%9F%8D%91." src="http://aldi.ddb.es/comunicacion/newsletter/2020/julio/w28/images/fb.png" css-class="imgBugSocial" />
        </mj-column>

        <mj-column css-class="social-div">
          <mj-image width="30px" padding="0" href="https://twitter.com/aldi_es??utm_source=Aldi%20Spain&utm_medium=email&utm_campaign=W28%20-%20Paraguayos%20jugos%C3%ADsimos%20de%20origen%20nacional%20a%20solo%201%2C39%20%E2%82%AC%2Fkilo%20%F0%9F%8D%91." src="http://aldi.ddb.es/comunicacion/newsletter/2020/julio/w28/images/tw.png" css-class="imgBugSocial" />

        </mj-column>

        <mj-column css-class="social-div">
          <mj-image width="30px" padding="0" href="https://www.instagram.com/aldi.es/?utm_source=Aldi%20Spain&utm_medium=email&utm_campaign=W28%20-%20Paraguayos%20jugos%C3%ADsimos%20de%20origen%20nacional%20a%20solo%201%2C39%20%E2%82%AC%2Fkilo%20%F0%9F%8D%91." target="_blank" src="http://aldi.ddb.es/comunicacion/newsletter/2020/julio/w28/images/inst.png" css-class="imgBugSocial" />
        </mj-column>

        <mj-column css-class="social-div">
          <mj-image width="30px" padding="0" href="https://www.youtube.com/channel/UCqJCzG9bO3EFFkXiC3WusZw?utm_source=Aldi%20Spain&utm_medium=email&utm_campaign=W28%20-%20Paraguayos%20jugos%C3%ADsimos%20de%20origen%20nacional%20a%20solo%201%2C39%20%E2%82%AC%2Fkilo%20%F0%9F%8D%91." target="_blank" src="http://aldi.ddb.es/comunicacion/newsletter/2020/julio/w28/images/yt.png" css-class="imgBugSocial" />

        </mj-column>
        <mj-column css-class="social-div">
          <mj-image width="30px" padding="0" href="https://www.pinterest.es/Aldi_Es/?utm_source=Aldi%20Spain&utm_medium=email&utm_campaign=W28%20-%20Paraguayos%20jugos%C3%ADsimos%20de%20origen%20nacional%20a%20solo%201%2C39%20%E2%82%AC%2Fkilo%20%F0%9F%8D%91." target="_blank" src="http://aldi.ddb.es/comunicacion/newsletter/2020/julio/w28/images/pi.png" css-class="imgBugSocial" />

        </mj-column>
        <mj-column css-class="social-div"></mj-column>
        <mj-column css-class="social-div"></mj-column>
        <mj-column css-class="social-div"></mj-column>

      </mj-group>
    </mj-section>

    <mj-section padding="20px 0px 0px 0px" background-color="#f7f7f7">
      <mj-column>
        <mj-text align="center" font-size="15px" line-height="22px" font-family="'Raleway-Regular', Arial, Helvetica,sans-serif;" font-weight="300" color="#000000">
          <p class="darkColor-white"></p>
        </mj-text>
      </mj-column>
    </mj-section>


    <mj-section padding="30px 0px 40px" css-class="section-social">
      <mj-group vertical-align="middle" css-class="section-social-group">
        <mj-column width="45%" css-class="darkmode-social">
          <mj-image src="http://aldi.ddb.es/comunicacion/newsletter/2020/julio/w28/images/encuentratienda.png" alt="encuentra tu tienda" align="left" border="none" href="https://www.aldi.es/supermercados/encuentra-tu-supermercado.html?utm_source=Aldi%20Spain&utm_medium=email&utm_campaign=W28%20-%20Paraguayos%20jugos%C3%ADsimos%20de%20origen%20nacional%20a%20solo%201%2C39%20%E2%82%AC%2Fkilo%20%F0%9F%8D%91." width="170px" alt="Encuentra tienda"></mj-image>
        </mj-column>
        <mj-column width="47%" css-class="darkmode-social">
          <mj-image src="http://aldi.ddb.es/comunicacion/newsletter/2020/julio/w28/images/contigo.png" alt="contigo Aldi" align="right" border="none" href="https://www.aldi.es/contigo-aldi?utm_source=Aldi%20Spain&utm_medium=email&utm_campaign=W28%20-%20Paraguayos%20jugos%C3%ADsimos%20de%20origen%20nacional%20a%20solo%201%2C39%20%E2%82%AC%2Fkilo%20%F0%9F%8D%91." width="120px" css-class="imgFooter" alt="contigo"></mj-image>
          <mj-image src="http://aldi.ddb.es/comunicacion/newsletter/2020/julio/w28/images/servei.png" alt="contigo Aldi" align="right" border="none" href="tel:900902466?utm_source=Aldi%20Spain&utm_medium=email&utm_campaign=W28%20-%20Paraguayos%20jugos%C3%ADsimos%20de%20origen%20nacional%20a%20solo%201%2C39%20%E2%82%AC%2Fkilo%20%F0%9F%8D%91." width="120px" css-class="imgFooter" alt="contigo tel"></mj-image>
          <mj-image src="http://aldi.ddb.es/comunicacion/newsletter/2020/julio/w28/images/contigoemail.png" alt="contigo Aldi" align="right" border="none" href="mailto:contigo@aldi.es?utm_source=Aldi%20Spain&utm_medium=email&utm_campaign=W28%20-%20Paraguayos%20jugos%C3%ADsimos%20de%20origen%20nacional%20a%20solo%201%2C39%20%E2%82%AC%2Fkilo%20%F0%9F%8D%91." width="120px" css-class="imgFooter" alt="contigo email"></mj-image>
        </mj-column>
      </mj-group>
    </mj-section>

    <mj-section>
      <mj-column>
        <mj-text align="center" padding="0 10px">
          <p style="margin:0; padding-bottom:7px; font-size:11px; line-height:12px; margin-bottom:10px; color:#111111; font-family: Arial, Helvetica, sans-serif;" class="darkColor-black">*Precios válidos del 06 de julio al 14 de julio de 2020.</p>
          <p style="margin:0; padding-bottom:7px; font-size:10px; line-height:12px; margin-bottom:10px; color:#111111; font-family: Arial, Helvetica, sans-serif;" class="darkColor-black">¡Añádenos a tu lista de contactos! Así te asegurarás de recibir nuestra newsletter en tu bandeja de entrada principal. </p>
          <p style="margin:0; padding-bottom:10px; font-size:10px; line-height:14px; margin-bottom:10px; color:#111111; font-family: Arial, Helvetica, sans-serif;" class="darkColor-black">En cumplimiento de lo establecido por los nuevos requisitos del Reglamento General de la Protección de Datos de la UE (GDPR) de Protección de Datos de Carácter Personal, le informamos que los datos personales contenidos en esta comunicación forman parte del fichero de contactos propiedad de ALDI Supermercados S.L. cuya finalidad es la de mantener con usted relaciones comerciales y/o profesionales, lo que usted consintió y aceptó. En todo caso podrá ejercer los derechos de acceso, rectificación, oposición, limitación del tratamiento, portabilidad y cancelación dirigiéndose a ALDI por correo electrónico a través de <a href="mailto:protecciondatos@aldi.es?utm_source=Aldi%20Spain&utm_medium=email&utm_campaign=W28%20-%20Paraguayos%20jugos%C3%ADsimos%20de%20origen%20nacional%20a%20solo%201%2C39%20%E2%82%AC%2Fkilo%20%F0%9F%8D%91." style="color:#111111; text-decoration:none;">protecciondatos@aldi.es</a> indicando el asunto GDPR.</p>
        </mj-text>
        <mj-text align="center" padding="0 10px" css-class="contact-footer">
          <p style="margin:0; padding-bottom:10px; font-size:11px; line-height:15px; margin-bottom:10px; color:#111111; font-family: Arial, Helvetica, sans-serif;">
            <a href="https://www.aldi.es/servicios/apuntate-nuestra-newsletter/baja-de-la-newsletter.html?utm_source=Aldi%20Spain&utm_medium=email&utm_campaign=W28%20-%20Paraguayos%20jugos%C3%ADsimos%20de%20origen%20nacional%20a%20solo%201%2C39%20%E2%82%AC%2Fkilo%20%F0%9F%8D%91." style="color:#008bcf; text-decoration:none;">Baja de la newsletter</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="https://www.aldi.es/supermercados/encuentra-tu-supermercado.html?utm_source=Aldi%20Spain&utm_medium=email&utm_campaign=W28%20-%20Paraguayos%20jugos%C3%ADsimos%20de%20origen%20nacional%20a%20solo%201%2C39%20%E2%82%AC%2Fkilo%20%F0%9F%8D%91." style="color:#008bcf; text-decoration:none;">Tiendas ALDI</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="[linktocontent]" style="color:#008bcf; text-decoration:none;">Ver en navegador</a>
          </p>
        </mj-text>

      </mj-column>
    </mj-section>

  </mj-body>
</mjml>